// malihu scrollbar


@media screen and (max-width: 767px) {
	.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
		margin: 0 40px;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
		width: 20px;
		height: 20px;
	}

	.mCSB_horizontal.mCSB_inside > .mCSB_container {
		margin-bottom: 70px;
	}
}

// tns

@media screen and (max-width: 1279px) { 
}