@media screen and (max-width: 1599px) {
	.container--middle {
		padding: 0 50px;
	}

	.s-container {
		padding: 0;
	}
}

@media screen and (max-width: 1279px) {

	h1,
	.h1,
	.good__title,
	.good__price,
	.g-props__title,
	.g-props__item-title,
	.g-info__main-title,
	.g-production__title {
		font-size: 30px;
		line-height: 30px;
	}

	.container {
		padding: 0 40px;
	}

	h2,
	.h2,
	.c-card__title,
	.c-card__prices-full,
	.bq__title,
	.g-steps__item-title {
		font-size: 24px;
		line-height: 24px;
	}

	.s-container {
		padding: 0 40px;
	}
}

@media screen and (max-width: 767px) {

	.container,
	.s-container {
		padding: 0 10px;
	}

	.pages {
		padding: 100px 20px;
	}
}