
<header class="header">
  <div class="header__inner"><a class="header__logo" href="#">
      <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt=""/>
        <div class="header__logo-max-text">Надежность, качество, долговечность</div>
      </div>
      <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""/></div></a>
    <div class="header__nav">
      <div class="header__nav-section">
        <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
          <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
        </div>
        <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
          <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
        </div>
      </div>
      <div class="header__nav-section header__nav-section--tablet">
        <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
        <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
        <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
        <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
          <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
        </div>
      </div>
    </div>
    <div class="header__burger">
      <div class="header__burger-bar"></div>
      <div class="header__burger-bar"></div>
      <div class="header__burger-bar"></div>
    </div>
    <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
      <div class="header__phone-button" data-popup="callback"></div>
    </div>
  </div>
</header>