
<div class="pagination"><a class="pagination__link pagination__link--arr-back" href="#"></a><a class="pagination__link is-active" href="#">1</a><a class="pagination__link" href="#">2</a><a class="pagination__link" href="#">3</a><a class="pagination__link" href="#">4</a><a class="pagination__link pagination__link--arr-frw" href="#"></a></div>