.footer {
	background: #F6F9FA;
	position: relative;
	margin-top: 150px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -80%;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		background-image: url(../images/static/footer.png);
		height: 100%;
		z-index: -1;
	}
}

.footer__logo-min-image {
	display: none;
}

.footer__wave {
	position: absolute;
	width: 100%;
	top: -100px;
}

.footer__inner {
	padding: 50px 0 20px 0;
	width: 100%;

	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
	}
}

.footer__logo {
	position: relative;
	margin-right: 215px;
}

.footer__l-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.footer__logo-max-image {
	width: 110px;
	height: 131px;
	margin-bottom: 0;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;

	&:nth-last-child(n + 2) {
		border-bottom: 1px solid #CFE0E6;
	}
}

.footer__col {
	width: 30%;
}

.footer__txt {
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	display: block;
	color: #333333;
	text-decoration: none;
}

.footer__content {
	width: 100%;
}