.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 20;
	transition: transform .5s;

	@media screen and (min-width: 768px) {

		&--scrolled {
			position: fixed;
			bottom: 100%;
			top: auto;
			// transform: translateY(0%);
			background-color: #fff;

			.header__logo-max {
				display: none;
			}

			.header__logo-min {
				display: block;
			}
		}

		&--visible {
			transform: translateY(100%);
		}
	}
}

.header__inner {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px 50px 20px 100px;
}

.header__logo-max {
	position: absolute;
	left: 0;
	top: 0;
}

.header__logo-min {
	display: none;
	width: 180px;
}

.header__logo-min-image {
	display: block;
}

.header__logo {
	position: relative;
	width: 310px;
	flex-shrink: 0;
}

.header__logo-max-image {
	max-width: 115px;
	margin-bottom: 15px;
}

.header__logo-max-text {
	max-width: 175px;
	font-family: 'RobotoCondensed';
	font-weight: 300;
	font-size: 18px;
	color: #333;
	line-height: 24px;
}

.header__nav {

	padding: 20px 0;

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
}

.header__nav-section {

	margin-right: 100px;

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	&:last-child {
		margin-right: 0;
	}
}

.header__nav-item {
	position: relative;
	margin-right: 40px;

	&:hover {

		.js-drop {

			&:after {
				opacity: 0;
			}

			&:before {
				opacity: 1;
			}

			&:after,
			&:before {
				transform: rotate(180deg);
			}
		}

		.header__drop {
			opacity: 1;
			visibility: visible;
			transform: translateY(-17px);
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.header__drop {
	background-color: #fff;
	padding: 60px 30px 30px 30px;
	transition: transform .3s, opacity .3s, visibility .3s, max-height 1s;

	@media screen and (min-width: 768px) {
		position: absolute;
		left: -30px;
		top: 0;
		width: 210px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(20px);
	}
}

.header__dorp-link {
	font-size: 14px;
	font-family: 'Akrobat';
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
	color: #262626;
	text-decoration: none;
	transition: color .3s;
	line-height: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		color: #61ADC7;
	}
}

.header__phone {
	padding: 20px 60px 20px 0;
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	-ms-align-self: flex-start;
	align-self: flex-start;
}

.header__phone-button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2BA3CB;
	background-image: url(../images/static/phone-icon.svg);
	-webkit-background-size: 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20px;
	cursor: pointer;
	transition: background-color .3s;

	&:hover {
		background-color: #62AFC9;
	}
}

.header__burger {
	@media screen and (min-width: 1280px) {
		display: none;
	}
}












