.b-banner {
	width: 100%;
	position: relative;
	padding-top: 140px;
	padding-bottom: 65px;
	margin-bottom: 120px;

	&:hover {
		.b-banner__btn {
			transform: translateX(0);
		}

		.b-banner__txt-box {
			box-shadow: -20px 0px 40px 20px rgba(0, 0, 0, 0.02);
		}

		.b-banner__txt-box:after {
			transform: translate(0, 0) rotate(0deg);
			top: 60%;
			opacity: .4;
		}
	}
}

.b-banner__fingerprint {
	position: absolute;
	width: 996px;
	height: 818px;
	top: -20vh;
	z-index: -1;
	right: -10vw;
}

.b-banner__pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.b-banner__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.b-banner__txt-box {
	background: #fff;
	padding: 65px;
	z-index: 1;
	max-width: 675px;
	position: relative;
	overflow: hidden;
	transition: box-shadow .4s ease-in-out;

	&:after {
		content: '';
		width: 830px;
		height: 760px;
		display: block;
		position: absolute;
		background-image: url(../images/content/tree-circles_1.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 0;
		transform: translate(-50px, -50px) rotate(30deg);
		transition: 1s ease-in-out;
		top: 60%;
		opacity: 0;
	}

}

.b-banner__t-wrap {
	z-index: 1;
	position: relative;
}

.b-banner__date {
	font-family: 'RobotoCondensed';
	font-size: 18px;
	line-height: 24px;
	font-weight: 100;
	margin-bottom: 30px;
}

.b-banner__title {
	font-family: 'Akrobat';
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 60px;
	font-weight: 600;
}

.b-banner__desc {
	font-size: 20px;
	line-height: 30px;
	font-family: 'RobotoCondensed';
	font-weight: 100;
}

.b-banner__btn {
	@extend .c-list__btn !optional;

	&:hover {
		background-color: #2F9CBA;
	}
}