.bq {
	position: relative;
	background-color: #F6F9FA;
	overflow: hidden;
	padding: 90px 170px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	&:before {
		content: '';
		position: absolute;
		right: 70%;
		top: 0%;
		transform: translateY(-60%);
		width: 1000px;
		height: 1000px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_7.svg);
	}
}

.bq__title {
	@extend .h2;

	position: relative;
	padding-left: 55px;
	width: 50%;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 20px;
		width: 35px;
		height: 4px;
		background-color: #62AFC9;
	}
}

.bq__text {
	width: 50%;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	font-family: 'RobotoCondensed';
	position: relative;
}