.bread {
	font-size: 14px;
	font-weight: 300;
	color: $light-gray;
	margin-bottom: 20px;
}

.bread__list {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.bread__l-item {
	position: relative;
	display: flex;

	&:nth-last-child(n + 2) {
		&:after {
			content: '-';
			margin-right: 0.3em;
			margin-left: 0.3em;
		}
	}
}

.bread__link {
	text-decoration: none;
	color: inherit;
	transition: color .3s;

	&:hover {
		color: #62AFC9;
	}
}


.c-middle__block {}