.c-article {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 120px;
	transition: box-shadow .3s;

	&--good {
		margin-top: 130px;
	}

	&:hover {
		box-shadow: 1px 0 40px 20px rgba(0, 0, 0, 0.03);

		.c-list__btn {
			transform: translateX(0);
		}
	}
}

.c-article__image {
	@include aspect-ratio(34,21);

	width: 45%;
	flex-shrink: 0;
}

.c-article__content {
	position: relative;
	padding: 60px 120px;
	min-height: 100%;
	flex-grow: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.c-article__date {
	font-size: 18px;
	font-weight: 300;
	color: #8D8D8D;
	margin-bottom: 20px;
}

.c-article__title {
	margin-bottom: 30px;
	max-width: 380px;
}

.c-article__text {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	color: #333;
	font-family: 'RobotoCondensed';
	max-width: 520px;
}

.c-article__link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
}