.c-card {
	padding: 60px 60px 50px 60px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	transition: box-shadow .3s;

	&:hover {
		box-shadow: 1px 0 40px 20px rgba(0, 0, 0, 0.03);

		.c-list__btn {
			transform: translateX(0);
		}

		&:after {
			opacity: 1;
			transform: translate(0);
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		height: 800px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_6.svg);
		opacity: 0;
		transform: translate(20px, 20px);
		pointer-events: none;
		transition: opacity .3s, transform .7s;
	}
}

.c-card__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	z-index: 2;
}

.c-card__image {
	width: 220px;
	flex-shrink: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.c-card__content-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}

.c-card__title {
	width: 260px;
	flex-shrink: 0;
	padding-right: 20px;

	@extend .h2;
}

.c-card__prices-full {
	@extend .h2;

	color: #57ABC6;
	margin-bottom: 13px;
}

.c-card__prices-detail {
	font-weight: 300;
	font-family: 'RobotoCondensed';
	color: #8D8D8D;
}

.c-card__text {
	font-weight: 300;
	font-size: 18px;
	color: #333;
	line-height: 23px;
	font-family: 'RobotoCondensed';
}

.c-card__link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
}