.c-list {
	overflow: hidden;
	padding: 50px;
	margin: -50px;
}

.c-list__row {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	display: block;
	width: calc(100% + 7.9%);
}

.c-list__box {
	position: relative;
	transition: all .4s ease-in-out;
	overflow: hidden;
	width: 28.5%;
    height: 417px;
    margin-right: 3.5%;
	margin-bottom: 3.5%;

	&:after {
		content: '';
		width: 830px;
		height: 760px;
		display: block;
		position: absolute;
		background-image: url(../images/content/tree-circles_1.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 0;
		transform: translate(-50px, -50px) rotate(30deg);
		transition: all 1s ease-in-out;
		top: 80%;
		opacity: 0;
	}

	&:hover {
		box-shadow: 1px 0 40px 20px rgba(#000, 0.03);


		.c-list__btn {
			transform: translateX(0);

		}

		&:after {
			transform: translate(0, 0) rotate(0deg);
			top: 80%;
			opacity: 0.7;
		}
	}

	&--banner {
		width: 60.6%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.c-list__wrap-title {
			color: #ffffff;
			margin-bottom: 0;
			padding-bottom: 0;

			&:after {
				display: none;
			}
		}

		.c-list__pic {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.c-list__date {
			color: #fff;
		}

		&:after {
			top: 40%;
			right: -40%;
		}

		&:hover {
			&:after {
				opacity: .2;
				top: 40%;
				right: -40%;
			}
		}
	}

	&--pic {
		&:after {
			display: none;
		}

		.c-list__btn {
			bottom: auto;
			top: -22px;
			right: 40px;
		}

		.c-list__b-txt {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 20px;
			position: relative;
		}
	}
}

.c-list__btn {
	position: absolute;
	width: 36px;
	height: 36px;
	background-color: #62AFC9;
	border-radius: 100%;
	bottom: 37px;
	right: 42px;
	z-index: 5;
	transition: .3s ease-in-out;
	transform: translateX(5rem);

	&::after {
		content: '';
		display: block;
		background-image: url(../images/static/arrow--white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		width: 8.7px;
		height: 17.5px;
		left: 50%;
		top: 50%;
		transform: translate(-40%, -50%);
		transition: .4s ease-in-out;
	}

	&:hover {
		background-color: #2F9CBA;

		&::after {
			transform: translate(-40%, -50%);
		}
	}

}

.c-list__b-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.c-list__pic {
	width: 100%;
	min-height: 270px;
}

.c-list__b-txt {
	padding: 50px 50px 70px 40px;
	position: relative;
	z-index: 1;
}

.c-list__date {
	font-size: 16px;
	font-family: 'RobotoCondensed';
	line-height: 24px;
	font-weight: 100;
	color: #8C8C8C;
}

.c-list__wrap-title {
	position: relative;
	padding: 10px 35px 15px 35px;
	margin-bottom: 30px;

	&:after {
		content: '';
		display: block;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: rgba(#C9DCE2, .6);
		position: absolute;
	}
}

.c-list__title {
	font-size: 30px;
	font-family: 'Akrobat';
	line-height: 30px;
	font-weight: 800;
}

.c-list__desc {
	font-size: 20px;
	line-height: 30px;
	font-family: 'RobotoCondensed';
	font-weight: 300;
}