.c-middle {
	$c: &;
	width: 100%;
	max-width: 1300px;
	padding: 0 25px;
	margin: 0 auto;
}

.c-middle__t-row {
	display: flex;
	justify-content: space-between;
	margin: 90px auto;
	max-width: 992px;
	width: 100%;
}

.c-middle__desc {
	@extend .c-top__desc !optional;
}

.c-middle__txt-box {
	padding-left: 50px;
	font-family: 'Akrobat';
	max-width: 240px;
	color: #333333;
	transition: color .3s;

	@media screen and (min-width: 1280px) {
		&:hover {
			color: $aque;

			.c-middle__t-title:after {
				background-color: $aque;
			}
		}
	}

}

.c-middle__t-title {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 15px;
	position: relative;

	&:after {
		content: '';
		transition: background-color .3s;
		background-color: #333333;
		width: 31px;
		height: 1px;
		position: absolute;
		left: -2em;
		top: 0.6em;
	}
}

.c-middle__t-desc {
	font-size: 18px;
	line-height: 24px;
}

.c-middle__photo {
	width: 100%;
	position: relative;
	margin-top: 50px;
	
	@include aspect-ratio(16,8);

	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

}


.c-middle__video {
	width: 100%;
	position: relative;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;

	&--middle {
		max-height: 450px;
		width: calc(100% + 150px);
		margin: 50px -75px 0 -75px;
	}

	&:hover {
		&:after {
			transform: translate(-50%, -50%) scale(0.9);
		}
	}

	&:after {
		content: '';
		background-image: url(../images/static/play.svg);
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: .3s ease-in-out;
		transform: translate(-50%, -50%) scale(1);
		pointer-events: none;
	}
}

.c-middle__v-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.c-middle__content {
	margin: 50px 0;
	padding: 0 315px 0 250px;
	font-size: 18px;
	line-height: 30px;
	font-family: 'RobotoCondensed';
	font-weight: 300;

	p {
		margin-bottom: 25px;
	}

	hr {
		background-color: rgba(#CFE0E6, .6);
		height: 1px;
		border: none;
		width: calc(100% + 250px);
		margin: 75px -125px;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 50px 0;

		li {
			position: relative;
			padding-left: 100px;

			&:nth-last-child(n + 2) {
				margin-bottom: 50px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0.8em;
				background-color: #62AFC9;
				display: block;
				width: 32px;
				height: 3px;
				left: 0;
			}
		}
	}

	ol {
		counter-reset: item;
		list-style-type: none;
		padding: 0;
		margin: 50px 0;

		li {
			position: relative;
			padding-left: 80px;

			&:nth-last-child(n + 2) {
				margin-bottom: 50px;
			}

			&:before {
				content: counter(item, decimal-leading-zero) " ";
				counter-increment: item;
				font-size: 36px;
				color: #C9DCE2;
				position: absolute;
				left: 0;
				top: 7px;
			}
		}
	}

	table {
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		text-align: left;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 60px;
		border: 1px solid #c9dce2;
		font-family: 'RobotoCondensed';
		margin-top: 100px;
		// ==
		width: calc(100% + 565px);
		margin: 50px -250px 50px -315px;

		td,
		th {
			padding: 20px;
			font-weight: 100;
			border: 1px solid rgba(#C9DCE2, 1);
		}

		thead {
			background-color: rgba(#C9DCE2, 0.2);

			th {
				&:nth-child(n + 2) {
					text-align: center;
				}
			}
		}

		tbody {
			td {
				&:nth-child(n + 2) {
					text-align: center;
				}

				&:first-child {
					font-weight: 900;
				}

				font-weight: 500;
			}
		}
	}
}

.c-middle__block {
	width: calc(100% + 250px);
	margin: 50px -125px;
}

.c-middle__link {
	margin-bottom: 20px;
	display: inline-block;
}

.c-middle__row {
	width: calc(100% + 250px);
	margin: 50px -125px;
	display: block;

	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		flex-shrink: 0;
		align-items: center;
	}
}

.c-middle__col {
	&:nth-child(1) {
		p {
			padding: 50px 0;
			padding-right: 50px;
		}
	}

	&:nth-child(2) {
		p {
			padding: 50px 0;
			padding-left: 50px;
		}
	}
}


.c-middle__pic {
	max-width: none;
	margin-bottom: 50px;

	&--big {
		width: calc(100% + 565px);
		margin: 50px -250px 50px -315px;
		max-width: none;
	}

	&--right {
		margin-right: -300px;
	}

	&--left {
		margin-left: -250px;
	}
}

.c-middle__wrap-pic {
	margin-bottom: 50px;

	.c-middle__pic {
		margin-bottom: 0;
	}
}

.c-middle__p-desc {
	color: #8c8c8c;
	font-family: 'RobotoCondensed';
	font-size: 18px;
	line-height: 35px;
	font-weight: 100;
	padding-top: 30px;
}

.c-middle__t-row {
	display: flex;
	justify-content: space-between;
	// align-items: center;
}


.c-middle__t-col {
	width: 49%;
	font-family: 'RobotoCondensed';
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	padding: 45px 30px 45px 0;
	font-weight: 300;

	&--colored {
		background-color: #62AFC9;
		color: #fff;
		font-family: 'Akrobat';
		font-size: 24px;
		line-height: 30px;
		position: relative;
		padding: 45px 30px;
		overflow: hidden;

		&:after {
			content: '';
			background-image: url(../images/static/fingerprint_4-1.svg);
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			width: 896px;
			height: 817px;
			background-position: center;
			z-index: 0;
			transform: translate(-50px, -50px) rotate(30deg);
			transition: 1s ease-in-out;
			top: 0;
			opacity: 0;
		}

		&:hover {
			&:after {
				transform: translate(0, 0) rotate(0deg);
				top: 10px;
				opacity: 1;
			}
		}
	}
}

.c-middle__t-txt {
	z-index: 2;
	position: relative;
}

.c-middle__files {
	margin-top: 50px;
	margin-bottom: 100px;
}