.c-top {
	position: relative;
}

.c-top__inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px 0 100px;
	display: flex;
	height: auto;
}

.c-top__aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 280px;
	padding-right: 50px;
}

.c-top__aside-link {
	margin-top: 55px;
}

.c-top__cont {
	padding-top: 50px;
	padding-left: 30px;
	width: 100%;
	padding: 50px 250px 0px 70px;
}

.c-top__desc {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	font-family: 'Akrobat';
	position: relative;
	padding: 15px 0 15px 50px;
	color: #333333;
	max-width: 680px;
	margin: 50px 0;

	&:before {
		content: '';
		height: 100%;
		width: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgb(200, 220, 226);
	}
}

.c-top__txt {
	font-size: 20px;
	line-height: 30px;
	margin: 45px 0 100px 0;
	font-weight: 300;
}

.c-top__bg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	&:after {
		content: '';
		width: 830px;
		height: 760px;
		display: block;
		position: absolute;
		background-image: url(../images/content/tree-circles_1.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
		opacity: .5;
		top: 50%;
		left: -30%;
		transform: rotate(-100deg);
	}

	&:before {
		content: '';
		width: 830px;
		height: 760px;
		display: block;
		position: absolute;
		background-image: url(../images/static/fingerprint_2.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
		top: 110%;
		right: -30%;
		transform: rotate(10deg);
	}

	&--1 {}
}

.c-top__date {
	font-size: 18px;
	font-weight: 100;
	font-family: 'RobotoCondensed';
	color: #8C8C8C;
}

.c-top__c-row {
	display: flex;
	justify-content: space-between;
}