.color-block {
	$c: &;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Akrobat';
	padding: 55px 75px;
	font-weight: 300;
	color: rgba(#333333, .9);
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		width: 830px;
		height: 760px;
		display: block;
		position: absolute;
		background-image: url(../images/content/tree-circles_1.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 0;
		transform: translate(-50px, -50px) rotate(30deg);
		transition: 1s ease-in-out;
		top: 0;
		opacity: 0;
	}

	&:hover {
		&:after {
			transform: translate(0, 0) rotate(0deg);
			top: 10px;
			opacity: 1;
		}
	}

	&--poop {
		background-color: #442A1C;
	}

	&--aque {
		background-color: $aque;
		color: #fff;

		&:after {
			background-image: url(../images/static/fingerprint_11.svg);
		}

		&:hover {
			#{$c}__out {
				&:after {
					transform: translateX(55%);
				}
			}

			&:after {
				opacity: 1;
			}
		}
	}

	&--light {
		background-color: #F6F9FA;
	}
}

.color-block__inner {
	z-index: 1;
	position: relative;
}

.color-block__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.color-block__next {
	font-size: 16px;
	line-height: 20px;
	font-family: 'RobotoCondensed';
	margin-bottom: 20px;
	text-transform: uppercase;
}

.color-block__title {
	font-size: 24px;
	line-height: 24px;
	font-weight: 900;
	font-family: 'Akrobat';
}

.color-block__out {
	position: absolute;
	right: 0;
	top: 50%;
	font-family: 'RobotoCondensed';
	transform: translateY(-50%);
	font-size: 16px;
	z-index: 5;
	pointer-events: all;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	display: block;

	&:after {
		content: '';
		background: #ffffff;
		display: block;
		height: 4px;
		width: 35px;
		left: 0;
		bottom: -10px;
		transition: .4s ease-in-out;
	}

}