.components {
	position: relative;
	margin-bottom: 120px;
}

.components__inner {
	padding-left: 260px;
	padding-top: 30px;
	padding-right: 130px;
}

.component {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.component__step {
	width: 370px;
	flex-shrink: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-family: 'Akrobat';
	font-weight: 900;
	padding-top: 70px;
}

.component__step-num {
	font-size: 144px;
	font-weight: 900;
	color: #ECF3F5;
	line-height: 85px;
	margin-right: 30px;
}

.component__step-type {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #C9DCE2;
}

.component__step-title {
	font-size: 20px;
	color: #333;
}