.contacts {
	position: relative;
}

.contacts__bg {
	position: absolute;
	width: 996px;
	height: 818px;
	background-image: url(../images/content/contacts_bg.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
    right: -20vw;
    top: 10vh;
}

.contacts__content {
	margin-left: 360px;
	margin-top: 20px;
	max-width: 400px;
	padding-bottom: 115px;
}

.contacts__links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 50px;
}

.contacts__link {
	margin-right: 80px;
	color: #62AFC9;
	font-family: 'Akrobat';
	font-size: 20px;
	font-weight: 900;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: lighten(#62AFC9, 5%);
	}


	&:last-child {
		margin-right: 0;
	}
}

.contacts__data-item {
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__data-title {
	margin-bottom: 20px;
	color: #323232;
	font-size: 20px;
	font-weight: 900;
	font-family: 'Akrobat';
}

.contacts__data-text {
	margin-bottom: 20px;
	font-family: 'RobotoCondensed';
	font-size: 20px;
	font-weight: 300;
	color: #333;
	line-height: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__map {
	max-width: 1280px;
	margin: 0 auto;
	height: 580px;
	position: relative;
	background-color: #ccc;
	margin-bottom: 130px;
}

.map {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}