.d-cards {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-right: 50px;
}

.d-card {
	position: relative;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 60px;

	&:nth-child(even) {
		margin-right: 0;
	}

	&:nth-last-child(-n + 2) {
		margin-bottom: 0;
	}

	@media screen and (min-width: 1280px) {
		&:hover {
			.d-drop {
				visibility: visible;
				opacity: 1;
			}
		}
	}

}

.d-card__image {
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 25px;

	@include aspect-ratio(52, 27);
}

.d-card__content {
	position: relative;
	margin-left: 40px;
	padding: 30px 50px 30px 35px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: #C9DCE2;
	}
}

.d-card__title {
	font-size: 24px;
	font-family: 'Akrobat';
	font-weight: 900;
	line-height: 1;
	color: #333;
	margin-bottom: 25px;
}

.d-card__price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.d-card__price-full {
	font-size: 24px;
	font-family: 'Akrobat';
	font-weight: 900;
	color: #62AFC9;
	margin-right: 25px;
}

.d-card__price-detail {
	font-family: 'RobotoCondensed';
	font-weight: 300;
	color: #8D8D8D;
}
















