.d-drop {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	box-shadow: 0 0 100px rgba(0,0,0,0.08);
	width: calc(100% - 35px);
	padding: 50px 25px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
	z-index: 3;

	&:after {
		content: '';
		position: absolute;
		width: 800px;
		height: 800px;
		top: 77%;
		left: 35%;
		transform: translateX(-50%);
		pointer-events: none;
		background-image: url(../images/static/fingerprint_6.svg);
	}
}

.d-drop__content {
	position: relative;
	z-index: 1;
}

.d-drop__title {
	@extend .d-card__title;
}

.d-drop__top {
	padding: 0 15px 25px 15px;
}

.d-drop__features {
	background-color: #F6F9FA;
	padding: 20px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.d-drop__feature {
	position: relative;
	padding-left: 26px;
	color: #62AFC9;
	font-family: 'RobotoCondensed';
	margin-right: 55px;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 18px;
		height: 19px;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-position: center;
	}

	&--size {

		&:before {
			background-image: url(../images/static/icon-size.svg);
		}
	}

	&--protect {

		&:before {
			background-image: url(../images/static/icon-protect.svg);
		}
	}
}

.d-drop__options {
	padding: 35px 15px;
}

.d-drop__option {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.d-drop__option-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.d-drop__option-name {
	font-weight: 300;
	color: #8D8D8D;
	width: 175px;
	flex-shrink: 0;
}

.d-drop__option-content {
	flex-grow: 2;
}

.d-drop__option-title {
	font-family: 'Akrobat';
	font-size: 20px;
	font-weight: 900;
	line-height: 24px;
	color: #333;
	margin-bottom: 5px;
}

.d-drop__option-text {
	font-weight: 300;
	color: #323232;
}

.d-drop__button {
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 15px;
}

.d-drop__close {
	display: none;
}













