.d-sidebar {
	background-color: #F6F9FA;
	padding: 45px 50px;
}

.d-sidebar__section {
	padding-bottom: 35px;
	margin-bottom: 25px;
	border-bottom: 1px solid #CFE0E6;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
}

.d-sidebar__title {
	font-family: 'Akrobat';
	font-size: 20px;
	font-weight: 900;
	color: #62AFC9;
	margin-bottom: 30px;
}

.d-sidebar__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 25px;
	font-family: 'RobotoCondensed';
	font-weight: 300;

	&--disabled {
		pointer-events: none;

		.d-sidebar__item-label,
		.d-sidebar__item-value {
			color: #CDCDCD;
		}

		.d-sidebar__item-label {

			&:before {
				opacity: 1;
				filter: grayscale(0);
				background-image: url(../images/static/check-dis.svg);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.d-sidebar__checkbox {
	position: absolute;
	z-index: -1;
	visibility: hidden;

	&:checked {

		&+.d-sidebar__item-label {
			color: #333;

			&+.d-sidebar__item-value {
				color: #62AFC9;
				// font-weight: 400;
			}

			&:before {
				opacity: 1;
				filter: grayscale(0);
			}
		}
	}
}

.d-sidebar__item-label {
	position: relative;
	font-size: 18px;
	color: #8D8D8D;
	padding-left: 40px;
	cursor: pointer;
	padding-right: 20px;
	transition: color .3s;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 3px;
		width: 14px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/check.svg);
		transition: opacity .3s, filter .3s;
		opacity: .4;
		filter: grayscale(1);
	}

	&:hover {
		color: #62AFC9;
	}
}

.d-sidebar__item-value {
	color: #8D8D8D;
	margin-left: auto;
	font-size: 18px;
	transition: color .3s;
}

.d-sidebar__item-check {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.d-sidebar__d-title {
	display: none;
}