.decisions {
	position: relative;
	padding-top: 20px;
}

.decisions__s-name {

	.s-name {
		padding-left: 50px;
	}
}

.decisions__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.decisions__sidebar {
	width: 360px;
	margin-right: 20px;
	flex-shrink: 0;
}

.decisions__content {
	flex-grow: 2;
}

.decisions__top {
	position: relative;
	margin-left: 50%;
	padding-right: 170px;
	margin-bottom: 130px;
	padding-bottom: 25px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 35px;
		height: 4px;
		background-color: #62AFC9;
	}
}

.decisions__top-text {
	font-size: 20px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	line-height: 30px;
	color: #333;

	p {
		margin-top: 0;
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}