.examples {
	position: relative;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 130px;
	padding-left: 120px;
	padding-bottom: 80px;

 	&:after {
    	content: '';
    	position: absolute;
    	bottom: -70px;
    	left: 50%;
    	right: 50%;
    	right: 0;
		background-size: 1280px 100px;
	    background-position: bottom center;
		background-image: url(../images/static/wave.svg);
    	height: 100px;
	    transform: rotate(180deg);
        width: 100vw;
	    margin-left: -50vw;
	    margin-right: -50vw;
	    z-index: 2;
    }
}

.examples__s-name {
	position: absolute;
	z-index: 2;
	left: 0;
}

.examples__arrows {
	position: absolute;
	left: 0;
	top: 200px;
}

.examples__arrow {
	width: 35px;
	height: 30px;
	margin-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&--prev {
		background-image: url(../images/static/examples-prev.svg);
	}

	&--next {
		background-image: url(../images/static/examples-next.svg);
	}
}

.tns-nav {
	display: none;
}