.faq {
	padding-left: 240px;
	padding-right: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 80px;
	padding-bottom: 90px;
	position: relative;
}

.faq__themes {
	width: 480px;
	flex-shrink: 0;
}

.faq__theme {
	position: relative;
	padding-left: 50px;
	font-size: 20px;
	font-weight: 900;
	line-height: 24px;
	font-family: 'Akrobat';
	color: #333;
	margin-bottom: 35px;
	transition: color .3s;
	cursor: pointer;
	max-width: 280px;

	&:hover {
		color: #62AFC9;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 12px;
		width: 30px;
		height: 1px;
		background-color: #C9DCE2;
		transition: background-color .3s;
	}

	&.is-active {
		color: #62AFC9;

		&:before {
			background-color: #62AFC9;
		}
	}
}

.faq__fingerprint {
	position: absolute;
	width: 832px;
	height: 759px;
	left: -35vw;
	opacity: 0.4;
}

.faq__asks {
	flex-grow: 2;
	margin-top: -25px;
}

.faq__asks-item {
	display: none;
	
	&.is-active {
		display: block;
	}
}

.faq__ask {
	border-top: 1px solid #C9DCE2;
	transition: border-color .3s;

	&:first-child {
		border: none;
	}
	
	&.is-active {
		border-color: transparent;

		.faq__ask-top {
			color: #2BA3CB;
			background-color: #F6F9FA;
			transition: color .3s, background-color .3s, border-color .3s;

			&:after {
				background-image: url(../images/static/faq-closer.svg);
			}
		}
	}
}

.faq__ask-top {
	font-size: 24px;
	font-family: 'Akrobat';
	position: relative;
	padding: 25px 50px 30px 25px;
	cursor: pointer;
	color: #333;
	transition: color .3s, background-color .3s;

	&:hover {
		color: #62AFC9;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 25px;
		width: 20px;
		height: 20px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/faq-opener.svg);
	}
}

.faq__ask-answer {
	display: none;
	padding: 40px 20px;
	font-size: 20px;
	font-weight: 300;
	color: #333;
	line-height: 36px;
	font-family: 'RobotoCondensed';
}






