.g-info {
	position: relative;
	background-color: #F6F9FA;
	padding-top: 170px;
	overflow: hidden;
	width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

	&:before {
		content: '';
		position: absolute;
		left: -1000px;
		right: -1000px;
		top: 0;
		bottom: 0;
		background-color: #F6F9FA;
		z-index: -2;
	}

	&:after {
		content: '';
		position: absolute;
		width: 900px;
		height: 900px;
		background-image: url(../images/static/fingerprint_9.svg);
		background-repeat: no-repeat;
		background-position: center;
		right: 70%;
		top: -300px;
		z-index: 1;
	}
}

.g-info__inner {
	position: relative;
	z-index: 2;
	max-width: 1280px;
	margin: 0 auto;
}

.g-info__content {
	padding: 0 120px;
	margin-bottom: 75px;
}

.g-info__content-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 80px;
	border-bottom: 1px solid #CFE0E6;
}

.g-info__main {
	width: 375px;
	flex-shrink: 0;
	padding-right: 50px;
}

.g-info__text {
	flex-grow: 2;
}

.g-info__main-title {
	@extend .h1;

	margin-bottom: 30px;
}

.g-info__main-text {
	font-family: 'RobotoCondensed';
	font-weight: 300;
	font-size: 18px;
	color: #333;
	line-height: 24px;
	max-width: 220px;
}

.g-info__text {

	p {
		font-size: 20px;
		font-weight: 300;
		font-family: 'RobotoCondensed';
		line-height: 30px;
		margin-top: 0;
		margin-bottom: 35px;
	}
}

.g-info__link {
	margin-top: 40px;
}

.g-info__sub {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
}

.g-info__sub-col{
	flex: 1;
}

.g-info__sub-main {
	padding-right: 70px;
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	color: #62AFC9;
	line-height: 24px;
}

.g-info__option-title {
	@extend .c-middle__t-title;

	color: #333;

	&:after {
		background-color: #808080;
	}
}

.g-info__option-text {
	@extend .g-info__main-text;

	color: #333;
}

.g-info__option {
	padding-left: 50px;
}













