.g-production {
	padding-top: 50px;
	margin-bottom: 100px;
}

.g-production__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.g-production__title {
	@extend .h1;

	margin-bottom: 50px;
}

.g-production__text {

	p {
		margin-top: 0;
		margin-bottom: 40px;
		font-family: 'RobotoCondensed';
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		color: #333;
	}
}

.g-production__content {
	padding-right: 130px;
	padding-left: 150px;
	width: 780px;
	flex-shrink: 0;
}

.g-production__serts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.g-production__serts-desc {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
	font-family: 'RobotoCondensed';
	font-weight: 300;
}

.g-production__sert {
	margin-right: 30px;
	max-height: 110px;
	width: auto;
}

.g-production__media {
	position: relative;
	flex-grow: 2;
	-ms-align-self: flex-start;
	align-self: flex-start;
	margin-right: -50px;

	@include aspect-ratio(74,41);

	&:after {
		@extend .c-middle__video:after;


	}
}