.g-props {
	position: relative;
	overflow: hidden;
	background-color: #62AFC9;
	margin-left: 50px;
	margin-right: 50px;

	&:before {
		content: '';
		position: absolute;
		width: 900px;
		height: 900px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_8.svg);
		right: 50%;
		top: 40px;
	}
}

.g-props__content {
	position: relative;
	max-width: 930px;
	margin: 0 auto;
	padding: 70px 50px 90px 50px;
	text-align: center;
	z-index: 1;
}

.g-props__title {
	@extend .h1;

	color: #fff;
	margin-bottom: 80px;
}

.g-props__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.g-props__item {
	width: 33.3333%;
	margin-bottom: 60px;
}

.g-props__item-title {
	@extend .h1;

	color: #fff;
	margin-bottom: 10px;
}

.g-props__item-text {
	font-size: 18px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	color: #fff;
}

.g-props__link {
	margin-top: 20px;
}