.g-steps {
	background-color: #62AFC9;
	position: relative;
	overflow: hidden;
	width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -80px;

    &:before {
    	content: '';
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 900px;
    	height: 900px;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-image: url(../images/static/fingerprint_10.svg);
    }

    &:after {
    	content: '';
    	position: absolute;
    	left: 0;
    	bottom: -2px;
    	right: 0;
		background-size: 1280px 100px;
	    background-position: bottom center;
		background-image: url(../images/static/wave.svg);
    	height: 100px;
    }
}

.g-steps__inner {
	position: relative;
	max-width: 1280px;
	padding: 170px 0;
	margin: 0 auto;
	z-index: 1;
}

.g-steps__title {
	font-family: 'RobotoCondensed';
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 40px;
	color: #fff;
}

.g-steps__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	counter-reset: list 0; 
}

.g-steps__item {
	width: 30%;
}

.g-steps__item-title {
	position: relative;
	padding-left: 45px;
	color: #fff;
	@extend .h2;
	margin-bottom: 30px;

	&:before {
		position: absolute;
		left: 0;
		top: 15px;
		counter-increment: list;
		content: counter(list);
		font-family: 'Akrobat';
		font-size: 80px;
		font-weight: 100;
		opacity: .6;
		color: #fff;
	}
}

.g-steps__item-inner {
	max-width: 300px;
}

.g-steps__item-text {
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 23px;
}