.good {
	margin-left: 180px;
	padding-top: 180px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 90px;
}

.good__image {
	width: 540px;
	flex-shrink :0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.good__image-file {
	max-height: 100%;
	width: auto;
}

.good__content {
	flex-grow: 2;
}

.good__bread {
	margin-bottom: 60px;
}

.good__title {
	@extend .h1;

	margin-bottom: 15px;
}

.good__stats {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.good__stats-item {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	color: #8D8D8D;

	&:last-child {
		margin-right: 0;
	}
}

.good__detail {
	margin: 45px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	font-size: 18px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	color: #333;
	line-height: 30px;
}

.good__detail-text {
	width: 60%;
	padding-right: 80px;
}

.good__detail-list-item {
	position: relative;
	padding-left: 25px;
	margin-bottom: 14px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: #62AFC9;
		width: 5px;
		height: 5px;
		border-radius: 50%;
	}
}

.good__price {
	@extend .h1;

	color: #57ABC6;
	margin-bottom: 15px;
}


.good__buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 40px;
}

.good__links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 8px;
}

.good__order {
	margin-right: 80px;
}

.good__order-button {
	display: block;
}

.good__links-item {
	margin-right: 55px;

	&:last-child {
		margin-right: 0;
	}
}






