.i-about {
	padding: 40px 0;
}

.i-about__inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
}

.i-about__row {

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
}

.i-about__image {
	width: 500px;
	flex-shrink: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-left: 50px;
}

.i-about__image-file {
	max-width: 100%;
	height: auto;
}

.i-about__content {
	position: relative;
	padding-left: 50px;
	padding-right: 115px;
	flex-grow: 2;
}

.i-about__content-inner {
	border-right: 1px solid #C9DCE2;
	padding-right: 125px;
}

.i-about__text {
	font-family: 'RobotoCondensed';
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	color: #333;
	margin-bottom: 35px;
	max-width: 600px;
}

.i-about__clients {
	position: relative;
	padding-top: 55px;

	&:before {
		content: '';
		position: absolute;
		height: 4px;
		width: 35px;
		left: 0;
		top: 0;
		background-color: #62AFC9;
	}
}

.i-about__clients-title {
	font-family: 'RobotoCondensed';
	font-weight: 300;
	font-size: 20px;
	color: #62AFC9;
	margin-bottom: 30px;
}

.i-about__clients-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.i-about__client {
	margin-right: 60px;
	max-width: 190px;
	filter: grayscale(1);
	opacity: .7;
	transition: filter .3s, opacity .3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		opacity: 1;
		filter: grayscale(0);
	}
}























