.i-calc-wrapper {
	overflow: hidden;
	position: relative;
}

.i-calc {
	background-color: #62AFC9;
	position: relative;
	margin-top: 120px;
	padding-bottom: 150px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -320px;
		width: 900px;
		height: 1000px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_4-1.svg);
	}
}

.i-calc__container {
	// @extend .s-container;
	
	padding: 0 100px;
}

.i-calc__i-servs {
	position: relative;
	transform: translateY(-120px);
	max-width: 1400px;
	margin: 0 auto;

	&:after {
		content: '';
		position: absolute;
		right: 100%;
		top: 0;
		height: 120px;
		width: 1000px;
		background-color: #fff;
		z-index: 2;
	}
}

.i-calc__inner {
	position: relative;
	max-width: 1280px;
	padding: 0 50px;
	margin: 20px auto 0 auto;
}

.i-calc__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.i-calc__title {
	color: #fff;
	font-weight: 700;
	font-family: 'Akrobat';
	font-size: 36px;
	line-height: 36px;
}

.i-calc__item {
	width: 30%;
	flex-shrink: 0;
}

.i-calc__input-label {
	color: #fff;
	margin-left: 25px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	display: block;
	margin-bottom: 10px;
}

.i-calc__input-field {
	border: none;
	border-radius: 25px;
	background-color: #fff;
	font-size: 36px;
	font-family: 'Akrobat';
	font-weight: 400;
	padding: 6px 25px;
	width: 250px;
}

.i-calc__output {
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}
}

.i-calc__output-title {
	color: #fff;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	margin-bottom: 15px;
}

.i-calc__output-result {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Akrobat';
	color: #fff;
	margin-bottom: 25px;
}

.i-calc__output-line {
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #fff;
}

.i-calc__order {
	margin-top: 115px;
}























