.i-map {

	&--index {
		margin-top: -100px;
	}
}

.i-map__s-name {
	position: absolute;
	top: 220px;
	z-index: 1;

	.s-name {
		padding-top: 90px;
	}
}

.i-map__delivery {
	position: absolute;
	left: 50px;
	right: 50px;
	top: 55%;
	transform: translateY(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.i-map__delivery-item {
	width: 24%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.i-map__delivery-days {
	position: relative;
	font-family: 'Akrobat';
	font-weight: 700;
	font-size: 144px;
	color: #62AFC9;
	line-height: 0.65;
	margin-right: 15px;

	&:before {
		content: '>';
		position: absolute;
		left: -35px;
		top: 55%;
		transform: translateY(-50%);
		font-size: 30px;
	}
}

.i-map__delivery-title {
	font-family: 'Akrobat';
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 15px;
	color: #62AFC9;
}

.i-map__delivery-region {
	font-family: 'Akrobat';
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #333;
	max-width: 100px;
}

.i-map__image--mob {
	display: none;
}