.i-projects {
	position: relative;
	padding-bottom: 120px;
}

.i-projects__inner {
	position: relative;
	padding-top: 200px;
	margin-left: 50px;
	padding-right: 180px;

	&:before {
		content: '';
		position: absolute;
		left: -270px;
		top: 0;
		width: 900px;
		height: 900px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_3.svg);
	}
}

.i-projects__s-name {
	position: absolute;
	right: 50px;
	top: 200px;
}

.i-projects__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
}

.i-projects__more {
	text-align: center;
	margin-right: -150px;
	margin-top: 100px;
}

