.i-production {
	position: relative;
	padding: 100px 0 250px 0;

	&:after {
    	content: '';
    	position: absolute;
    	left: 0;
    	top: -90px;
    	right: 0;
		background-size: 1280px 100px;
	    background-position: bottom center;
		background-image: url(../images/static/wave.svg);
    	height: 100px;
    }
}

.i-production__s-name {
	position: absolute;
}

.i-production__cards {
	position: relative;
	padding: 0 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.i-production__cards-item {
	margin-right: 75px;

	&:last-child {
		margin-right: 0;
	}
}

.i-production__fly {
	position: absolute;
	left: 100px;
	top: 80px;
	width: 840px;
	height: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/static/fingerprint_5.svg);
	z-index: -1;
}