.i-servs {
	position: relative;
	background-color: #442A1C;
	padding: 150px 100px 110px 100px;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		right: 50%;
		top: -200px;
		width: 900px;
		height: 1000px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fingerprint_4-2.svg);
	}
}

.i-servs__content {
	position: relative;
	z-index: 2;
}

.i-servs__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.i-servs__item {
	width: 25%;
	color: #fff;
	padding-right: 60px;
}

.i-servs__title {
	font-family: 'Akrobat';
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	height: 75px;
}

.i-servs__text {
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

.i-servs__more {
	text-align: center;
	margin-top: 60px;
}