.not-found {
	padding-top: 50px;
	display: flex;

	&__title {
		margin-bottom: 20px;
	}

	&__t-wrap {
		width: 70%;
	}

	&__desc {
		font-family: 'RobotoCondensed';
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 85px;
		font-weight: 300;
	}

	&__n-wrap {
		position: relative;
		height: 550px;
		width: 717px;
		margin-top: -50px;
		margin-right: -50px;
	}

	&__num {
		font-size: 350px;
		font-weight: 100;
		font-family: 'Akrobat';
		color: #ffffff;
		position: absolute;
		top: 10%;
		left: 30%;
		z-index: 3;
	}

	&__bg {
		position: absolute;
		top: -28%;
		// 
		width: 964px;
		height: 914px;
		background-image: url(../images/content/404.png);
		background-repeat: no-repeat;
		background-position: center;

		// &--color {
		// 	background-image: url(../images/content/404--color.png);
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	width: 717px;
		// 	height: 540px;
		// 	z-index: 2;
		// }

		// &--tree {
		// 	background-image: url(../images/content/404--tree.png);
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	width: 776px;
		// 	height: 708px;
		// 	transform: rotate(1deg);
		// 	z-index: 1;
		// }
	}

}