.p-card {
	background-color: #fff;
	box-shadow: 0 0 100px rgba(27,61,80,0.08);
	padding: 80px 80px 100px 100px;
	max-width: 455px;
}

.p-card__title {
	color: #62AFC9;
	font-family: 'RobotoCondensed';
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
}

.p-card__price {
	position: relative;
	padding-left: 55px;
	font-size: 30px;
	font-weight: 900;
	font-family: 'Akrobat';

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 55%;
		transform: translateY(-50%);
		width: 35px;
		height: 4px;
		background-color: #62AFC9;
	}
}

.p-card__features {
	margin-top: 50px;
	margin-bottom: 50px;
}

.p-card__features-item {
	margin-bottom: 20px;
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	padding-left: 25px;
	position: relative;
	color: #333;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 7px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: #62AFC9;
	}

	&--disabled {
		color: #B4B4B4;

		&:before {
			background-color: #B4B4B4;
		}
	}
}