.p-slider {
	$c: &;
	position: relative;
	width: 100%;
	margin-bottom: 100px;
	overflow: hidden;

	&--c-middle {
		width: calc(100% + 150px);
		margin: 75px -75px;

		#{$c}__descr {
			margin-right: 0;
			margin-top: 20px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: -50px;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 130%;
				background-color: rgba(#C9DCE2, .6);
			}
		}

		#{$c}__bottom {
			padding-left: 75px;
		}

		#{$c}__controls {
			background: none;
			padding-top: 35px;
			width: auto;
			height: auto;
		}

		#{$c}__content {
			padding-left: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-right: 210px;

			&:before {
				display: none;
			}
		}

	}

	&--small {
		width: 47%;

		.p-slider__image {
			@include aspect-ratio(10, 7);
		}

		.p-slider__controls {
			height: auto;
			bottom: auto;
			padding: 25px 20px 25px 20px;
			width: 150px;
			top: -73px;
		}

		.p-slider__controls-inner {
			margin-left: 0;
			justify-content: space-between;
		}

		.p-slider__arr {
			filter: grayscale(1);
			opacity: .8;
			transition: filter .3s, opacity .3s;

			&:hover {
				opacity: 1;
				filter: grayscale(0);
			}

			&--prev {
				margin-right: 20px;
			}

			&--next {
				margin-left: 20px;
			}
		}

		.p-slider__bottom {
			padding-left: 90px;
		}

		.p-slider__content {
			padding-left: 50px;
			padding-top: 60px;

			&:before {
				top: 20px;
			}
		}

		.p-slider__title {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 20px;
			max-width: 220px;
		}

		.p-slider__descr {
			margin-right: 0;
		}
	}

	&--full {
		width: 100%;
	}

	&:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}

.p-slider__image {
	@include aspect-ratio(127, 57);
}
.p-slider__image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}
.p-slider__bottom {
	position: relative;
	// height: 220px;
	padding-left: 300px;
}

.p-slider__content {
	position: relative;
	padding-left: 120px;
	padding-top: 60px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 30px;
		width: 1px;
		height: 130px;
		background-color: #C9DCE2;
	}
}

.p-slider__title {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Akrobat';
	line-height: 36px;
	margin-bottom: 20px;
	color: #333;
}

.p-slider__text {
	font-family: 'RobotoCondensed';
	font-size: 18px;
	font-weight: 300;
	color: #333;
}

.p-slider__text-note {
	font-size: 16px;
	font-weight: 400;
	color: #62AFC9;
	padding-left: 20px;
	position: relative;
	margin-left: 40px;

	&:before {
		content: '';
		position: absolute;
		height: 20px;
		width: 10px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/size.svg);
	}
}

.p-slider__controls {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1;
	width: 370px;
	background-color: #fff;
	padding-top: 70px;
}

.p-slider__counter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: center;
}

.p-slider__controls-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: 40px;
	color: #333;
	font-family: 'RobotoCondensed';
}

.p-slider__arr {
	width: 16px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&--prev {
		background-image: url(../images/static/p-slider-prev.svg);
		margin-right: 30px;
	}

	&--next {
		background-image: url(../images/static/p-slider-next.svg);
		margin-left: 30px;
	}
}

.p-slider__currrent {
	font-size: 20px;
	font-weight: 300;

	&:after {
		content: ' /';
	}
}

.p-slider__value {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 1px;
	margin-left: 4px;
}

.p-slider__descr {
	font-family: 'RobotoCondensed';
	margin-top: 35px;
	font-size: 18px;
	font-weight: 300;
	color: #323232;
	line-height: 30px;
	margin-right: 370px;
}

.p-slider__arrows {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}