.pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 90px 0;
}

.pagination__link {
	position: relative;
	font-family: 'RobotoCondensed';
	font-size: 20px;
	font-weight: 300;
	color: #8D8D8D;
	transition: color .3s;
	margin: 0 17px;
	text-decoration: none;

	&.is-active {
		color: #333;
	}

	&--arr-back,
	&--arr-frw {
		height: 22px;
		width: 14px;
		background-position: center;
		background-repeat: no-repeat;
		filter: grayscale(1);
		opacity: .8;
		transition: opacity .3s, filter .3s;

		&:before {
			display: none;
		}
	}

	&--arr-back {
		background-image: url(../images/static/pag-prev.svg);
	}

	&--arr-frw {
		background-image: url(../images/static/pag-next.svg);
	}

	&:before {
		content: '';
		position: absolute;
		height: 40px;
		width: 40px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		background-color: #F6F9FA;
		z-index: -1;
		opacity: 0;
		transition: opacity .3s;
	}

	&:hover {
		color: #2F9CBA;
		filter: grayscale(0);
		opacity: 1;

		&:before {
			opacity: 1;
		}
	}
}