.radio {
	position: relative;
}

.radio__input {
	position: absolute;
	visibility: hidden;
	z-index: -1;

	&:checked {

		& + .radio__label {
			color: #333;

			&:before {
				opacity: 1;
			}
		}
	}
}

.radio__label {
	position: relative;
	font-size: 18px;
	color: #8D8D8D;
	padding-left: 25px;
	cursor: pointer;
	font-weight: 300;
	padding-right: 20px;
	transition: color .3s;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/radio.svg);
		transition: opacity .3s, filter .3s;
		opacity: 0;
		transition: opacity .3s;
		z-index: 1;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #EBEBEB;
	}
}


















