.s-name {
	position: absolute;

	&--right {
		right: 0;
		padding-left: 75px;

		&.s-name--border {
			border-left: 1px solid #C9DCE2;
		}
	}

	&--left {
		left: 0;
		padding-right: 75px;

		&.s-name--border {
			border-right: 1px solid #C9DCE2;
		}
	}

	&--top {
		text-align: right;
	}
}

.s-name__text {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.s-name__title {
	font-family: 'Akrobat';
	font-size: 28px;
	font-weight: 900;
	color: #333;
	text-transform: uppercase;
	max-height: 190px;
}

.s-name__cat {
	font-family: 'RobotoCondensed';
	font-weight: 300;
	color: #808080;
	text-transform: uppercase;
	margin-left: 13px;
	letter-spacing: 0.05em;
}