.s-slider__controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.s-slider__slide {
	padding: 30px 0;
	position: relative;

	&:hover {

		.s-slider__slide-img {
			transform: scale(1.1);
		}
	}
}

.s-slider__slide-img {
	transition: transform .3s;
}

.s-slider__slide-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}