.time {
	width: 100%;
}

.time__title {
	margin-left: 20px;
	color: #A8A8A8;
	font-size: 16px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	margin-bottom: 15px;
}

.time__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.time__item {
	width: 31%;
}