.types {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 120px;
}

.types__item {
	position: relative;
	// width: 31.6%;
	flex: 1;
	margin-right: 2.5%;
	padding: 55px 110px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	overflow: hidden;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: '';
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translateY(-45%) rotate(15deg);
		width: 800px;
		height: 800px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .3s, transform .6s;
	}

	&:hover {

		&:before {
			opacity: 1;
			transform: translateY(-50%) rotate(0deg);
		}
	}

	&--brown {
		background-color: #442A1C;

		&:before {
			background-image: url(../images/static/types_1.svg);
		}
	}

	&--blue {
		background-color: #62AFC9;

		&:before {
			background-image: url(../images/static/types_2.svg);
		}
	}

	&--light {
		background-color: #C9DCE2;

		&:before {
			background-image: url(../images/static/types_3.svg);
		}
	}
}

.types__item-name {
	position: relative;
	color: #fff;
	font-weight: 900;
	font-size: 24px;
	line-height: 1;
	font-family: 'Akrobat';

	&:before {
		content: '';
		position: absolute;
		width: 30px;
		height: 1px;
		background-color: #fff;
		left: -50px;
		top: 12px;
	}
}

.types__item-link {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}