.welcome {
	position: relative;
}

.welcome__inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px 0 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 100vh;
	margin-bottom: 150px;
	position: relative;
}

.welcome__aside {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	width: 280px;
	padding-right: 50px;
}

.welcome__aside-content {
	margin-top: 150px;
}

.welcome__aside-text {
	margin-top: 40px;
	color: #333;
	font-size: 20px;
	font-weight: 300;
	font-family: 'RobotoCondensed';
	line-height: 30px;
}

.welcome__aside-link {
	margin-top: 55px;
}

.welcome__media {
	flex-grow: 2;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	padding: 70px 0 70px 90px;
}

.welcome__media-image {
	position: absolute;
	left: 0;
	right: -50px;
	bottom: 0;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transition: transform 5s;
	transform: scale(1);

	@media screen and (min-width: 1600px) {
		right: calc(((1600px - 100vw) / 2) - 55px);
	}	
}

.welcome__features {
	position: relative;
	z-index: 3;

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.welcome__feature {
	position: relative;
	transition: background-color .3s;

	@media screen and (min-width: 768px) {
		width: 33.3333%;
		padding: 30px 70px;

		&:hover {
			background-color: rgba(#F6F9FA, 0.2);

			.welcome__feature-text {
				transform: translateY(0);
				opacity: 1;
				transition-delay: .15s;
			}

			.welcome__feature-title {
				transform: translateY(0);
				transition-delay: 0s;
			}
		}
	}
}

.welcome__feature-link {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.welcome__feature-title {
	position: relative;
	font-family: 'Akrobat';
	font-weight: 900;
	line-height: 24px;
	font-size: 24px;
	transition: transform .3s;
	transition-delay: .15s;

	@media screen and (min-width: 768px) {
		transform: translateY(65px);
		margin-bottom: 20px;
	}

	&:before {
		content: '';
		position: absolute;
		left: -45px;
		top: 12px;
		background-color: #808080;
		width: 30px;
		height: 1px;
	}
}

.welcome__feature-text {
	font-size: 18px;
	font-family: 'RobotoCondensed';
	font-weight: 300;
	line-height: 24px;
	transition: opacity .3s, visibility .3s, transform .3s;
	opacity: 0;
	transform: translateY(20px);
	transition-delay: 0;
}

.welcome__feature-text-wrapper {
	height: 45px;
	overflow: hidden;
}

.welcome__image {
	position: absolute;
	left: 50%;
	bottom: -150px;
	width: 100%;
	height: 100%;
	height: 870px;
	transform: translateX(-50%);
	z-index: -1;
	max-width: 70vw;
}

.welcome__image-file {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	width: auto;
	margin: 0 auto;
	display: block;
}

.welcome__media-item {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	right: calc(((1600px - 100vw) / 2) - 55px);
	overflow: hidden;
	transition: height 0;
	transition-delay: 1s;
	overflow: hidden;

	&.is-active {
		transition: height 1s;
		height: 100vh;
		transition-delay: 0;
		z-index: 2;

		.welcome__media-image {
			transform: scale(1.2);
		}
	}
}







