.x-files {
	$c: &;
	display: flex;
	position: relative;
	width: max-content;

	&:hover {
		#{$c}__title ,
		#{$c}__desc {
			color: #62AFC9;
		}
	}
}

.x-files__icon {
	background-image: url(../images/static/file.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 32px;
	margin-right: 30px;
	margin-top: 5px;
}

.x-files__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.x-files__title {
	font-size: 20px;
	line-height: 24px;
	font-family: 'Akrobat';
	font-weight: 900;
	transition: color .4s ease-in-out;
}

.x-files__desc {
	font-size: 18px;
	font-family: 'RobotoCondensed';
	line-height: 35px;
	font-weight: 100;
	transition: color .4s ease-in-out;
}