//restyle any elements

.fancybox-button--arrow_left {
	background-image: url(../images/static/gallery-prev.svg);
	left: 20px;
}

.fancybox-button--arrow_right {
	background-image: url(../images/static/gallery-next.svg);
	right: 20px;
}

.fancybox-navigation .fancybox-button {
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
	width: 28px;
	height: 45px;
	padding: 0;
	background-color: transparent;

	div {
		display: none;
	}
}

// malihu scrollbar

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	width: 30px;
	height: 30px;
	background-image: url(../images/static/p-slider-next.svg);
	background-position: center;
	background-repeat: no-repeat;
	top: 50%;
	transform: translateY(-50%);
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
	transform: translateY(-50%) rotate(180deg);
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
	margin: 0 130px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #62AFC9;
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgba(#62AFC9, .4);
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #62AFC9;
}

.mCSB_scrollTools .mCSB_dragger {
	display: flex !important;
	align-items: center;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	height: 2px;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
	margin-bottom: 90px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	margin-bottom: 20px;
}