//default settings

body {
	overflow-x: hidden;
	color: #333333;

	&.is-unscrolled {
		overflow: hidden;
	}
}

.page {
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
}

.content {
	flex-grow: 2;
	width: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	// outline: 1px solid aqua;
}

img {
	max-width: 100%;
	height: auto;
}

.owl-carousel .owl-item img {
	width: auto;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	padding: 0 50px;
	&--middle {
		padding: 0 100px;
	}
}

h1,
.h1 {
	font-family: 'Akrobat';
	font-size: 36px;
	line-height: 1;
	color: #333;
	font-weight: 900;
}

h2,
.h2 {
	font-family: 'Akrobat';
	color: #333;
	margin-top: 0;
	font-size: 30px;
	line-height: 36px;
	font-weight: 900;
}

h3,
.h3 {
	font-family: 'Akrobat';
	color: #333;
	margin-top: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: 900;
}

h4,
.h4 {
	font-family: 'Akrobat';
	color: #333;
	margin-top: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
}

.ui__colontitul-1 {
	font-family: 'Akrobat';
	color: #333;
	margin-top: 0;
	font-size: 28px;
	line-height: 30px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.015em;
}

.ui-colontitul-2 {
	font-family: 'RobotoCondensed';
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #808080;
}

.s-container {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px;
}

.wow {
	visibility: hidden;
}

.pages {
	padding-top: 200px;
	padding: 300px 50px;
	text-decoration: none;
	counter-reset: pages 0;
}

.page-link {
	color: #000;
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: $aque;
	}

	&:before {
		counter-increment: pages;
		content: counter(pages) '. ';
	}
}
