.button {
	font-family: 'RobotoCondensed';
	color: #fff;
	padding: 23px 50px;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	transition: background-color .3s;
	text-decoration: none;

	&--blue {
		background-color: #57ABC6;

		&:hover {
			background-color: #2F9CBA;
		}
	}

	&--brown {
		background-color: #4C3021;

		&:hover {
			background-color: #643F2C;
		}
	}

	&--small {
		padding: 17px 46px;
	}
}