.link {
	position: relative;
	font-size: 16px;
	color: #0D0D0D;
	transition: color .3s;
	text-decoration: none;
	font-family: 'RobotoCondensed';
	font-weight: 300;

	&:hover,
	&.is-active {
		color: #61ADC7;
	}

	&--drop {
		padding-right: 27px;
		z-index: 1;

		&:after,
		&:before {
			content: '';
			position: absolute;
			width: 11px;
			height: 6px;
			top: calc(50% - 3px);
			right: 5px;
			background-position: center;
			background-repeat: no-repeat;
			transition: transform .3s, opacity .3s;
		}

		&:after {
			background-image: url(../images/static/drop-arr-light.svg);
		}

		&:before {
			background-image: url(../images/static/drop-arr-light--blue.svg);
			opacity: 0;
			z-index: 1;
		}
	}

	&--bold {
		font-weight: 700;

		&:after {
			background-image: url(../images/static/drop-arr.svg);
		}

		&:before {
			background-image: url(../images/static/drop-arr--blue.svg);
		}
	}

	&--phone {
		padding-right: 60px;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #2BA3CB;
			background-image: url(../images/static/phone-icon.svg);
			-webkit-background-size: 50%;
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&--blue {
		color: #62AFC9;
	}

	&--bordered {
		padding-bottom: 15px;
		font-size: 18px;
		font-family: 'RobotoCondensed';
		font-weight: 400;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 4px;
			width: 27%;
			background-color: #62AFC9;
			animation: border-back .5s ease forwards;
		}

		&:hover {

			&:after {
				animation: border .5s ease forwards;
			}
		}

		&.link--white {
			color: #fff;

			&:after {
				background-color: #fff;
			}
		}
	}

	&--text {
		color: #57ABC6;
		text-decoration: underline;
	}
}


@keyframes border {
	from {
		left: 0;
		width: 27%;
	}

	50% {
		left: 20%;
		width: 60%;
	}

	100% {
		left: 73%;
		width: 27%;
	}
}

@keyframes border-back {
	from {
		left: 73%;
		width: 27%;
	}

	50% {
		left: 20%;
		width: 60%;
	}

	100% {
		left: 0;
		width: 27%;
	}
}