@media screen and (max-width: 1279px) {

	.link {

		&--drop {
			padding-right: 18px;

			&:before,
			&:after {
				right: 1px;
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.link {

		&--drop {
			font-size: 16px;
		}
	}
}
@media screen and (max-width: 1279px) {
	.link {

		&--bordered {
			font-size: 16px;
		}
	}
}