footer.footer
	.container
		.footer__inner
			.footer__logo
				a(href='#').footer__l-link
				img(src="assets/images/static/logo-max.svg", alt="").footer__logo-max-image
				img(src="assets/images/static/logo-min.svg", alt="").footer__logo-min-image
			.footer__content
				.footer__row
					.footer__col
						.footer__txt 190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5
					.footer__col
						a(href='#').footer__txt +7 (812) 777-50-70
						a(href='#').footer__txt info@harpiks.ru
					.footer__col
						.footer__txt Политика конфиденциальности
				.footer__row
					.footer__col
						a(href='#').footer__txt Разработка сайта — Cakelabs