header.header
	div.header__inner
		a(href="#").header__logo
			div.header__logo-max
				img(src="assets/images/static/logo-max.svg", alt="").header__logo-max-image
				div.header__logo-max-text Надежность, качество, долговечность
			div.header__logo-min
				img(src="assets/images/static/logo-min.svg", alt="").header__logo-min-image

		div.header__nav
			div.header__nav-section
				div.header__nav-item
					a(href="https://google.com").link.link--bold.link--drop.js-drop Каталог
					div.header__drop
						a(href="#").header__dorp-link Эпоксидные полы
						a(href="#").header__dorp-link Полиуретановые полы
						a(href="#").header__dorp-link Спортивные покрытия
						a(href="#").header__dorp-link Краски и лаки

				div.header__nav-item
					a(href="#").link.link--bold.link--drop.js-drop Готовые решения
					div.header__drop
						a(href="#").header__dorp-link Полы для квартир
						a(href="#").header__dorp-link Покрытия промышленного назначения
						a(href="#").header__dorp-link Покрытия для детских  и спортивных площадок

			div.header__nav-section.header__nav-section--tablet
				div.header__nav-item
					a(href="#").link Проекты
				div.header__nav-item
					a(href="#").link Доставка и оплата
				div.header__nav-item
					a(href="#").link Гарантия
				div.header__nav-item
					a(href="#").link.link--drop.js-drop О компании
					div.header__drop
						a(href="#").header__dorp-link Контакт
						a(href="#").header__dorp-link Монтаж
						a(href="#").header__dorp-link FAQ
						a(href="#").header__dorp-link Статьи

		div.header__burger
			div.header__burger-bar
			div.header__burger-bar
			div.header__burger-bar

		div.header__phone
			a(href="#").link.header__phone-number +7 (495) 983 58 58
			div(data-popup='callback').header__phone-button






