div.pagination
	a(href="#").pagination__link.pagination__link--arr-back
	a(href="#").pagination__link.is-active 1
	a(href="#").pagination__link 2
	a(href="#").pagination__link 3
	a(href="#").pagination__link 4
	a(href="#").pagination__link.pagination__link--arr-frw