extends layout

block title
	title 05_reshenia

block content

	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-bread
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная
								li.bread__l-item
									| Готовые решения
					div.welcome__aside-title.h1 Покрытия промышленного назначения
			div.welcome__media
				div(style='background-image:url(assets/images/content/welcome_4.jpg)').welcome__media-image
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.container
		div.decisions
			div.decisions__s-name
				div.s-name.s-name--right.s-name--border
					div.s-name__text
						div.s-name__title о Решениях
			div.decisions__top
				div.decisions__top-text
					p Полимерные материалы бывают на эпоксидной или полиуретановой основе. Это может быть наливной полимерный пол или краски по бетону. Такое покрытие идеально обеспылит, защитит основание от разрушения. 
					p Покрытие объекта будет стойким к истиранию, сильным ударам. Практичное в очищении.

			div.decisions__row

				div.decisions__sidebar

					div.d-sidebar
						form(action="").d-sidebar__form
							div.d-sidebar__section
								div.d-sidebar__title Основа:
								div.d-sidebar__items
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_1
											label(for="check_1").d-sidebar__item-label Полиуретановая
											div.d-sidebar__item-value 22
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_2
											label(for="check_2").d-sidebar__item-label Эпоксидная
											div.d-sidebar__item-value 16
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_3
											label(for="check_3").d-sidebar__item-label Спортивные полы
											div.d-sidebar__item-value 22

							div.d-sidebar__section
								div.d-sidebar__title Эксплуатация:
								div.d-sidebar__items
									div.d-sidebar__item.d-sidebar__item--disabled
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_4
											label(for="check_4").d-sidebar__item-label Антистатичность
											div.d-sidebar__item-value 10
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_5
											label(for="check_5").d-sidebar__item-label Отрицательная температура
											div.d-sidebar__item-value 7
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_6
											label(for="check_6").d-sidebar__item-label Ударные нагрузки
											div.d-sidebar__item-value 5
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_7
											label(for="check_7").d-sidebar__item-label Ультрафиолетовое излучение
											div.d-sidebar__item-value 9
									div.d-sidebar__item
										div.d-sidebar__item-check
											input(type="checkbox").d-sidebar__checkbox#check_8
											label(for="check_8").d-sidebar__item-label Химическое воздействие
											div.d-sidebar__item-value 9

				div.decisions__content

					div.d-cards
						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать

						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать
						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать
						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать
						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать

						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать

						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать

						div.d-card
							div(style='background-image:url(assets/images/content/d-card_1.jpg)').d-card__image
							div.d-card__content
								div.d-card__title Наливной пол промышленного назначения
								div.d-card__price
									div.d-card__price-full 500 руб./м<sup>2</sup>
									div.d-card__price-detail 1300 руб./кг

							div.d-drop
								.d-drop__close
								div.d-drop__content
									div.d-drop__top
										div.d-drop__title Наливной пол промышленного назначения
										div.d-card__price
											div.d-card__price-full 500 руб./м<sup>2</sup>
											div.d-card__price-detail 1300 руб./кг

									div.d-drop__features
										div.d-drop__feature.d-drop__feature--size 3 мм
										div.d-drop__feature.d-drop__feature--protect Стойкость к нефтехимии и истиранию

									div.d-drop__options
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Грунтование:
												div.d-drop__option-content
													div.d-drop__option-title Тэпинг Р 1155 Грунт
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Шпатлевание:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 шпатлевка
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>
										div.d-drop__option
											div.d-drop__option-row
												div.d-drop__option-name Финишный слой:
												div.d-drop__option-content
													div.d-drop__option-title Смесь Тэпинг Пол 205 С Пром
													div.d-drop__option-text расход 0,28 кг/м<sup></sup>

									div.d-drop__button
										a(href="#" data-popup='form').button.button--blue.button--small Заказать

			include blocks/pagination

			div.types
				div.types__item.types__item--brown
					a(href="#").types__item-link
					div.types__item-name Покрытия для детских<br>и спортивных площадок
				div.types__item.types__item--blue
					a(href="#").types__item-link
					div.types__item-name Полы<br>для квартир












