extends layout

block title
	title 404

block content
	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.not-found
					.not-found__t-wrap
						h1.not-found__title Ничего не найдено!
						.not-found__desc К сожалению, такой страницы не существует.
						a(href='#').link.link--blue.link--bordered.not-found__back Вернуться на главную
					.not-found__n-wrap
						.not-found__num 404
						.not-found__bg