extends layout

block title
	title articles all

block content
	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная 
						li.bread__l-item
							| Статьи
				h1.h1 Статьи
				.c-top__txt Новости компании и полезная информация <br> о нашей продукции и ее использовании.

	.container.container--middle
		.b-banner
			.b-banner__fingerprint
				img(src="assets/images/static/fingerprint_12.svg", alt="")
			a(href='#').b-banner__link
			.b-banner__pic(style='background-image: url(assets/images/content/content_2.png);')
			.b-banner__txt-box
				a(href="#").b-banner__btn
				.b-banner__t-wrap
					.b-banner__date 24.07.18
					.b-banner__title Как правильно подобрать материал
					.b-banner__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...

		.c-list
			.c-list__row
				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_3.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Гипермаркет «Лента»

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--banner
					.c-list__pic(style='background-image: url(assets/images/content/content_4.png)')
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_5.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_6.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box.c-list__box--banner
					.c-list__pic(style='background-image: url(assets/images/content/content_4.png)')
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_5.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_6.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности
		include blocks/pagination