extends layout

block title
	title article

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.c-top__c-row
					.c-top__c-col
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									a(href="#").bread__link Статьи
								li.bread__l-item
									| Новая модель полиуретановых полов
						h1.h1 Новая модель полиуретановых полов
						.c-top__wrap-date
							.c-top__date 24.07.18
					.c-top__c-col
						a(href='#').link.link--bordered.link--blue.c-top__link К списку новостей

	.container
		.i-projects__row
			// Соотношение сторон 16:8
			div(style='background-image:url(assets/images/content/p-slider_1.jpg)').c-middle__photo
		.c-middle
			.c-middle__content
				.c-middle__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.
				p Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				
				div.p-slider.p-slider--c-middle
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3
						div.p-slider__content
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.
				h3 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				.color-block.color-block--aque.c-middle__block.c-middle__block--linked
					a(href='#').color-block__link
					.color-block__inner
						.color-block__next Следующая статья
						.color-block__title Технология формирования компаундного наливного пола
						a(href='#').color-block__out Перейти