extends layout

block title
	title catalog

block content
	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-bread
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									| Статьи
					div.welcome__aside-title.h1 Эпоксидные полы
					div.welcome__aside-text Мы предлагаем эпоксидные полы для всех типов объектов
			div.welcome__media
				div(style='background-image:url(assets/images/content/welcome_2.jpg)').welcome__media-image
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.container

		div.components
			div.components__s-name
				div.s-name.s-name--left.s-name--border
					div.s-name__text
						div.s-name__title составляющие<br>эпоксидного пола

			div.components__inner
				div.component
					div.component__step
						div.component__step-num 1
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Грунтовка<br>основания

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидная грунтовка Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

				div.component
					div.component__step
						div.component__step-num 2
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Шпатлевка

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидная шпатлевка Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

				div.component
					div.component__step
						div.component__step-num 3
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Финишный слой

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидный пол Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

		div.bq
			div.bq__title Дополнительные<br>возможности
			div.bq__text Эпоксидные полы могут выглядеть практически как угодно. Возможность колеровать пол в любой цвет по таблице RAL  и добавление акриловых флоков дают сотни комбинаций цветов и фактур.

		div.offers
			div.offers__card
				div.c-card.c-card--min
					a(href="#").c-card__link
					div.c-card__row
						div.c-card__image
							// 145x205
							img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
						div.c-card__content
							div.c-card__content-top
								div.c-card__title Акриловые флоки Harpiks
								div.c-card__prices
									div.c-card__prices-full 4 570 руб.
									div.c-card__prices-detail 500 руб./м<sup>2</sup>
							div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.c-list__btn
			div.offers__card
				div.c-card.c-card--min
					a(href="#").c-card__link
					div.c-card__row
						div.c-card__image
							// 145x205
							img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
						div.c-card__content
							div.c-card__content-top
								div.c-card__title Защитный лак Harpiks
								div.c-card__prices
									div.c-card__prices-full 4 570 руб.
									div.c-card__prices-detail 500 руб./м<sup>2</suo>
							div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.c-list__btn

		div.types
			div.types__item.types__item--brown
				a(href="#").types__item-link
				div.types__item-name Полиуретановые<br>полы
			div.types__item.types__item--blue
				a(href="#").types__item-link
				div.types__item-name Спортивные<br>полы
			div.types__item.types__item--light
				a(href="#").types__item-link
				div.types__item-name Краски и лаки

		div.c-article
			a(href="#").c-article__link
			div(style='background-image:url(assets/images/content/c-article.jpg)').c-article__image
			div.c-article__content
				div.c-article__date 24.07.18
				div.c-article__title.h2 Как правильно подобрать материал
				div.c-article__text В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...
				div.c-list__btn













