extends layout

block title
	title contacts

block content

	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная
						li.bread__l-item
							| Контакты
				h1.h1 Контакты
	
	div.container
		div.contacts
			div.contacts__bg
			div.contacts__content
				div.contacts__links
					a(href="#").contacts__link +7 (495) 983 58 58
					a(href="#").contacts__link info@harpiks.ru
				div.contacts__data
					div.contacts__data-item
						div.contacts__data-title Адрес
						div.contacts__data-text Санкт-Петербург, ул. Магнитогорская 11, лит. А Бизнес-центр "Магнит", офис 406
						div.contacts__data-text Рабочее время: ПН – ВС 09:00 – 22:00
					div.contacts__data-item
						div.contacts__data-title Реквизиты
						div.contacts__data-text ИНН: 123132123<br>ОГРН: 123132123

			div.contacts__map
				div.map#map
