extends layout

block title
	title faq

block content
	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная
						li.bread__l-item
							| FAQ
				h1.h1 Часто задаваемые вопросы

	div.container
		div.faq
			.faq__fingerprint
				img(src="assets/images/content/tree-circles_1.svg", alt="")
			div.faq__themes
				div.faq__theme.is-active Как выбрать тип покрытия
				div.faq__theme Сколько материалов потребуется
				div.faq__theme Эксплуатация
				div.faq__theme Монтаж
				div.faq__theme Оплата и доставка
				div.faq__theme Технические характеристики

			div.faq__asks
				div.faq__asks-item.is-active
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.



