extends layout

block title
	title good page

block content

	div.container

		div.good
			div.good__image
				img(src="assets/images/content/good-image.png", alt="").good__image-file

			div.good__content
				div.good__bread
					.bread
						ul.bread__list
							li.bread__l-item
								a(href="#").bread__link Главная
							li.bread__l-item
								a(href="#").bread__link Каталог
							li.bread__l-item
								| Harpiks 205 C

				div.good__title Harpiks 205 C
				div.good__stats
					div.good__stats-item Основа – 22,8 кг
					div.good__stats-item Отвердитель – 4 кг
				div.good__detail
					div.good__detail-text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.good__detail-list
						div.good__detail-list-item Высокая наполняемость песком
						div.good__detail-list-item Отличная растекаемость
						div.good__detail-list-item Быстрое отверждение

				div.good__pricing
					div.good__price 4 570 руб.
					div.good__stats
						div.good__stats-item 1300 руб./кг
						div.good__stats-item 500 руб./м<sup>2</sup>

				div.good__buttons
					div.good__order
						a(href="#").button.button--small.button--blue.good__order-button Заказать
					div.good__links
						div.good__links-item
							a(href="#").link.link--blue.link--bordered Доставка и оплата
						div.good__links-item
							a(href="#").link.link--blue.link--bordered Гарантия и обмен

		div.g-props
			div.g-props__content
				div.g-props__title Характеристики
				div.g-props__row
					div.g-props__item
						div.g-props__item-title 2,5 МПа
						div.g-props__item-text Адгезия к бетону
					div.g-props__item
						div.g-props__item-title 48 мг
						div.g-props__item-text Износостойкость по Таберу
					div.g-props__item
						div.g-props__item-title 96%
						div.g-props__item-text Сухой остаток
					div.g-props__item
						div.g-props__item-title 24 часа
						div.g-props__item-text Время высыхания
					div.g-props__item
						div.g-props__item-title 1,5 кг/м<sup>2</sup> в 1 мм
						div.g-props__item-text Расход
					div.g-props__item
						div.g-props__item-title Есть
						div.g-props__item-text Стойкость к нефтехимии

				div.g-props__link
					a(href="#").link.link--white.link--bordered Скачать характеристики

		div.examples
			div.examples__s-name
				div.s-name.s-name--left
					div.s-name__text
						div.s-name__title Применение на объектах

			div.examples__arrows
				div.examples__arrow.examples__arrow--prev
				div.examples__arrow.examples__arrow--next

			div.examples__scene
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value

		div.g-info
			div.g-info__inner
				div.g-info__content
					div.g-info__content-row
						div.g-info__main
							div.g-info__main-title Самостоятельный монтаж
							div.g-info__main-text для помещений площадью  менее 1 000 м2
						div.g-info__text
							p Мы сделали всё для удобства работы. Материал специально поставляется  в комплектах. В большое ведро выливаем содержимое малого. Ошибиться  с пропорциями сложно.
							p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
							div.g-info__link
								a(href="#").link.link--blue.link--bordered Скачать инструкцию

					div.g-info__sub
						div.g-info__sub-col
							div.g-info__sub-main Для компаний и сложных проектов предоставляются дополнительные услуги монтажа:
						div.g-info__sub-col
							div.g-info__option
								div.g-info__option-title Шеф-монтаж
								div.g-info__option-text для помещений площадью  1 000 м<sup>2</sup> – 3 000 м<sup>2</sup>
						div.g-info__sub-col
							div.g-info__option
								div.g-info__option-title Профессиональная бригада
								div.g-info__option-text для помещений площадью  более 3 000 м<sup>2</sup>

				div.g-info__video
					.c-middle__video(style='background-image: url(assets/images/content/video_1.png)')
						a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube

		div.g-steps
			div.container
				div.g-steps__inner
					div.g-steps__title Этапы укладки
					div.g-steps__row
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Шлифование  и обеспыливание
								div.g-steps__item-text Необходимо снять слой цементного молочка и пыли. Это обеспечит необходимое сцепление материала.
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Нанесение промежуточного слоя
								div.g-steps__item-text Окончательно выравниваем и запечатываем поры, заполняем рытвины. Дополнительно упрочняем основание.
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Нанесение финишного слоя
								div.g-steps__item-text Толщина от 1,5 до 5 мм. Придает декоративный вид полу и нужную фактуру.

		div.g-production
			div.g-production__inner
				div.g-production__content
					div.g-production__title Производство
					div.g-production__text
						p В рецептурах мы используем импортные смолы и добавки. Сыпучие компоненты используем российские. Это позволяет нам не уступать по качеству европейским конкурентам и быстрее реагировать на просьбы клиентов.
					.g-production__wrap-serts
						.g-production__serts-desc Наше производство соответствует международным стандартам ISO 90001-03
						div.g-production__serts
							img(src="assets/images/content/sert-small.jpg", alt="").g-production__sert
							img(src="assets/images/content/sert-small.jpg", alt="").g-production__sert
				div(style='background-image:url(assets/images/content/g-production.jpg)').g-production__media.g-production__media--video
					a(href="https://www.youtube.com/watch?v=-jzTb7y92pk").c-middle__v-link.js-youtube


		div.i-map
			div.s-container
				div.i-map__s-name
					div.s-name.s-name--left.s-name--border
						div.s-name__text
							div.s-name__cat Доставка
							div.s-name__title Мы работаем по всей России
				div(data-wow-offset='50').i-map__image.i-map__image--mob.wow.fadeIn
					img(src="assets/images/content/i-map--mob.svg", alt="")
				div(data-wow-offset='50').i-map__image.wow.fadeIn
					img(src="assets/images/content/i-map.svg", alt="")
				div(data-wow-offset='100').i-map__delivery.wow.fadeInUp
					div.i-map__delivery-item
						div.i-map__delivery-days 1
						div.i-map__delivery-content
							div.i-map__delivery-title Дня
							div.i-map__delivery-region Москва, Санкт-Петербург
					div.i-map__delivery-item
						div.i-map__delivery-days 5
						div.i-map__delivery-content
							div.i-map__delivery-title Дней
							div.i-map__delivery-region Центральная Россия
					div.i-map__delivery-item
						div.i-map__delivery-days 15
						div.i-map__delivery-content
							div.i-map__delivery-title Дней
							div.i-map__delivery-region Отдаленные регионы России
		
		div.c-article.c-article--good
			a(href="#").c-article__link
			div(style='background-image:url(assets/images/content/c-article_2.jpg)').c-article__image
			div.c-article__content
				div.c-article__title.h2 Габариты и упаковка,<br>хранение
				div.c-article__text 
					p В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой.
					p Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении, исключив попадание прямых солнечных лучей и влаги; при температуре окружающей среды от 0 до +30°С
				div.c-list__btn





































	

























