extends layout

block title
	title installation

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная 
						li.bread__l-item
							a(href="#").bread__link О компании 
						li.bread__l-item
							| Монтаж
				h1.h1 Монтаж 
				.c-top__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также монтаж всех перечисленных систем.

	.container
		.c-middle
			.c-middle__t-row
				.c-middle__txt-box
					.c-middle__t-title Самостоятельный монтаж
					.c-middle__t-desc для помещений площадью менее 1 000 м<sup>2</sup>
				.c-middle__txt-box
					.c-middle__t-title Шеф-монтаж
					.c-middle__t-desc для помещений площадью 1 000 м<sup>2</sup> – 3 000 м<sup>2</sup>
				.c-middle__txt-box
					.c-middle__t-title Профессиональная бригада
					.c-middle__t-desc для помещений площадью более 3 000 м<sup>2</sup>
			
			.c-middle__video(style='background-image: url(assets/images/content/video_1.png)')
				a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube

			.c-middle__content
				h2 Самостоятельный монтаж
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
				a(href='#').link.link--bordered.link--blue.c-middle__link Скачать инструкцию
				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				hr
				h2 Шеф-монтаж
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				hr
				h2 Профессиональная бригада
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				.c-middle__row
					.c-middle__col
						img(src="assets/images/content/content_1.png", alt='')
					.c-middle__col
						p Важно помнить о технических особенностях материала.
				p Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д. 
				p Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.