doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		meta(name='viewport',content='width=device-width, initial-scale=1')

		block title
			title default title

		link(rel='stylesheet', href='assets/css/styles.css')

	body
		div.page
			include blocks/header
			div.content
				block content
			include blocks/footer
			include blocks/popups

		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
		script(src='assets/js/scripts.min.js')
