extends layout

block title
	title main

block content
	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-title.h1 Производство полимерных полов
					div.welcome__aside-link
						a(href="#").link.link--bordered.link--blue Расчет стоимости
			div.welcome__media
				div.welcome__media-items
					div.welcome__media-item.is-active
						div(style='background-image:url(assets/images/content/welcome_1.jpg)').welcome__media-image
					div.welcome__media-item
						div(style='background-image:url(assets/images/content/welcome_2.jpg)').welcome__media-image
					div.welcome__media-item
						div(style='background-image:url(assets/images/content/welcome_3.jpg)').welcome__media-image

				div.welcome__features
					div.welcome__feature
						a(href="#").welcome__feature-link
						div.welcome__feature-title Полимерные полы<br>для квартир
						div.welcome__feature-text-wrapper
							div.welcome__feature-text Лучше всего задачу выполнят полиуретановые полы
					div.welcome__feature
						a(href="#").welcome__feature-link
						div.welcome__feature-title Покрытия промышленного<br>назначения
						div.welcome__feature-text-wrapper
							div.welcome__feature-text Лучше всего задачу выполнят полиуретановые полы
					div.welcome__feature
						a(href="#").welcome__feature-link
						div.welcome__feature-title Покрытия для детских<br> спортивных площадок
						div.welcome__feature-text-wrapper
							div.welcome__feature-text Лучше всего задачу выполнят полиуретановые полы
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.i-about
		div.s-container
			div.i-about__row
				div(data-wow-offset='100').i-about__image.wow.fadeInUp
					img(src="assets/images/content/i-about-img.png", alt="").i-about__image-file
				div.i-about__content
					div.i-about__s-name
						div.s-name.s-name--right
							div.s-name__text
								div.s-name__title О компании
					div(data-wow-offset='100').i-about__content-inner.wow.fadeIn
						div.i-about__text Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.
						div.i-about__clients
							div.i-about__clients-title Наши клиенты
							div.i-about__clients-row
								div.i-about__client
									img(src="assets/images/content/client_1.png", alt="").i-about__client-img
								div.i-about__client
									img(src="assets/images/content/client_2.png", alt="").i-about__client-img
								div.i-about__client
									img(src="assets/images/content/client_3.png", alt="").i-about__client-img

	div.i-map.i-map--index
		div.s-container
			div.i-map__s-name
				div.s-name.s-name--left.s-name--border
					div.s-name__text
						div.s-name__cat Доставка
						div.s-name__title Мы работаем<br>по всей России
			div(data-wow-offset='50').i-map__image.wow.fadeIn
				img(src="assets/images/content/i-map.svg", alt="")
			div.i-map__delivery
				div.i-map__delivery-item
					div.i-map__delivery-days 1
					div.i-map__delivery-content
						div.i-map__delivery-title Дня
						div.i-map__delivery-region Москва, Санкт-Петербург
				div.i-map__delivery-item
					div.i-map__delivery-days 5
					div.i-map__delivery-content
						div.i-map__delivery-title Дней
						div.i-map__delivery-region Центральная Россия
				div.i-map__delivery-item
					div.i-map__delivery-days 15
					div.i-map__delivery-content
						div.i-map__delivery-title Дней
						div.i-map__delivery-region Отдаленные регионы России

	div.i-projects
		div.s-container
			div.i-projects__s-name
				div.s-name.s-name--right.s-name--top
					div.s-name__text
						div.s-name__cat более 200 объектов
						div.s-name__title Наши проекты

			div.i-projects__inner
				div.i-projects__row
					div.p-slider.p-slider--big
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Гипермаркет <br>«Лента»
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__controls-inner
									div.p-slider__counter
										div.p-slider__currrent 1
										div.p-slider__value 3

					div.p-slider.p-slider--small
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__controls-inner
									div.p-slider__counter
										div.p-slider__currrent 1
										div.p-slider__value 3

					div.p-slider.p-slider--small
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Офис в Казани
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__controls-inner
									div.p-slider__counter
										div.p-slider__currrent 1
										div.p-slider__value 3

					div.p-slider.p-slider--small
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Офис в Казани
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__controls-inner
									div.p-slider__counter
										div.p-slider__currrent 1
										div.p-slider__value 3

					div.p-slider.p-slider--small
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__controls-inner
									div.p-slider__counter
										div.p-slider__currrent 1
										div.p-slider__value 3

				div.i-projects__more
					a(href="#").link.link--blue.link--bordered Смотреть больше

	div.i-calc-wrapper
		div.i-calc
			div.i-calc__container
				div.i-calc__i-servs
					div.i-servs
						div.i-servs__content
							div.i-servs__row
								div.i-servs__item
									div.i-servs__title Заявка
									div.i-servs__text Вы отправляете нам заявку с описанием, какое покрытие Вам необходимо, менеджеры консультируют Вас
								div.i-servs__item
									div.i-servs__title Расчет
									div.i-servs__text Наш менеджер рассчитывает стоимость нужного покрытия, обсуждает с Вами детали, формирует заказ
								div.i-servs__item
									div.i-servs__title Оплата и доставка
									div.i-servs__text Вы оплачиваете материалы, наши логисты организуют доставку удобным для Вас способом
								div.i-servs__item
									div.i-servs__title Монтаж
									div.i-servs__text Вы осуществляете монтаж собственными силами, либо с привлечением шеф-монтажа нашей компании
							div.i-servs__more
								a(href="#").link.link--bordered.link--white Подробнее

				div.i-calc__inner
					div.i-calc__row
						div.i-calc__item
							div.i-calc__title Расчет минимальной стоимости
						div.i-calc__item
							div.i-calc__input
								label.i-calc__input-label Введите площадь, м<sup>2</sup>
								input(type="text").i-calc__input-field
								div.i-calc__order
									a(href="#" data-popup='form').button.button--brown Оставить заявку
						div.i-calc__item
							div.i-calc__output
								div.i-calc__output-title Стоимость материалов, руб.
								div.i-calc__output-result 112 000
								div.i-calc__output-line Материал: 100 000 руб.
								div.i-calc__output-line Монтаж: 12 200 руб.

	div.i-production#scene_1
		div.s-container
			div.i-production__s-name
				div.s-name.s-name--left
					div.s-name__text
						div.s-name__cat более 100 вариантов
						div.s-name__title продукция

			div.i-production__cards
				div.i-production__cards-item
					div.p-card
						div.p-card__title Бюджетное покрытие
						div.p-card__price 234 руб./м<sup>2</sup>
						div.p-card__features
							div.p-card__features-item Защита
							div.p-card__features-item.p-card__features-item--disabled Стойкость к нефтехимии
							div.p-card__features-item.p-card__features-item--disabled Стойкость к истиранию
							div.p-card__features-item.p-card__features-item--disabled Стойкость к вибронагрузкам
							div.p-card__features-item.p-card__features-item--disabled Стойкость к ударным нагрузкам
							div.p-card__features-item.p-card__features-item--disabled Выдерживает отрицательные температуры
						div.p-card__link
							a(href="#").link.link--blue.link--bordered Подробнее
				div.i-production__cards-item
					div.p-card
						div.p-card__title Бюджетное покрытие
						div.p-card__price 234 руб./м<sup>2</sup>
						div.p-card__features
							div.p-card__features-item Защита
							div.p-card__features-item Стойкость к нефтехимии
							div.p-card__features-item Стойкость к истиранию
							div.p-card__features-item Стойкость к вибронагрузкам
							div.p-card__features-item Стойкость к ударным нагрузкам
							div.p-card__features-item Выдерживает отрицательные температуры
						div.p-card__link
							a(href="#").link.link--blue.link--bordered Подробнее
				div(data-depth="0.2").i-production__fly.layer

	div.i-serts
		div.s-container
			div.i-serts__s-name
				div.s-name.s-name--right
					div.s-name__text
						div.s-name__cat более 200 объектов
						div.s-name__title сертификаты

			div.i-serts__s-slider
				div.s-slider
					div.s-slider__scene.owl-carousel
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
						div.s-slider__slide
							a(href="assets/images/content/sertificate.jpg" data-fancybox='gallery').s-slider__slide-link
							img(src="assets/images/content/sert.png", alt="").s-slider__slide-img
					div.s-slider__controls
						div.p-slider__counter
							div.p-slider__currrent
							div.p-slider__value




					










					


			













