extends layout

block title
	title Pages

block content
	div.container
		div.pages
			a(href="main.html").page-link Главная
			a(href="good.html").page-link Карточка товара
			a(href="articles_all.html").page-link Список статей
			a(href="faq.html").page-link FAQ
			a(href="05_reshenia.html").page-link Готовые решения
			a(href="article.html").page-link Статья
			a(href="catalog.html").page-link Каталог
			a(href="contacts.html").page-link Контакты
			a(href="installation.html").page-link Монтаж
			a(href="portfolio.html").page-link Портфолио
			a(href="text_page.html").page-link Текстовая страница
			a(href="404.html").page-link 404
