extends layout

block title
	title portfolio

block content
	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-bread
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									| Портфолио
					div.welcome__aside-title.h1 Портфолио
					div.welcome__aside-text Более 150 работ различного масштаба и сложности.
			div.welcome__media
				div(style='background-image:url(assets/images/content/welcome_3.jpg)').welcome__media-image
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.container
		div.portfolio
			div.i-projects__row
				div.p-slider
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Гипермаркет<br>«Лента»
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Офис в Казани
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Гипермаркет<br>«Лента»
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

			include blocks/pagination
	
