extends layout

block title
	title text page

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.c-top__c-row
					.c-top__c-col
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная
								li.bread__l-item
									| Гарантия и обмен
						h1.h1 Гарантия и обмен
					.c-top__c-col

	.container
		.c-middle
			.c-middle__content
				.c-middle__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.

				p Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.

				p Наливной пол выбирают в зависимости от вида помещения (сухое или влажное) и требуемой толщины выравнивания. Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				.c-middle__wrap-pic
					img(src="assets/images/content/content_7.png", alt="").c-middle__pic.c-middle__pic--big
					.c-middle__p-desc Наливной пол в арт-галерее в Пскове.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				h3 Обработка основания
				p Поверхность должно очистить от пыли, масляных пятен, клея и других веществ, ослабляющих адгезию смеси с основой. Швы, стыки и трещины должны быть заделаны. На основание обязательно следует нанести ровным слоем грунтовку и просушить в течение 1—3 часов.
				a(href='#').link.link--blue.link--bordered.c-middle__link Грунтовые смеси Harpiks

				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.

				h3 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				.c-middle__row
					.c-middle__col
						img(src="assets/images/content/content_1.png", alt='')
					.c-middle__col
						p Важно помнить о технических особенностях материала.
				p Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				p Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				div.p-slider.p-slider--c-middle
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3
						div.p-slider__content
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см. 
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				img(src='assets/images/content/content_8.png', alt='').c-middle__pic.c-middle__pic--left
				img(src='assets/images/content/content_9.png', alt='').c-middle__pic.c-middle__pic--right

				h2 Обработка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				ul
					li Существуют тонко- и толстослойные наливные полы.
					li Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
				.c-middle__t-row
					.c-middle__t-col
						| Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					.c-middle__t-col.c-middle__t-col--colored
						.c-middle__t-txt
							| Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси.

				.c-middle__video.c-middle__video--middle(style='background-image: url(assets/images/content/video_1.png)')
					a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube
				.c-middle__files
					.x-files
						a(href='#').x-files__link
						.x-files__icon
						.x-files__txt-box
							.x-files__title Необходимые материалы
							.x-files__desc PDF, 3,8 Мб
				h4 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				table
					thead
						tr
							th Типы покрытий:
							th Адгезия к бетону
							th Износостойкость по Таберу
							th Сухой остаток
							th Время высыхания
							th Расход (в 1 мм)
							th Стойкость к нефтехимии
					tbody
						tr
							td Эпоксидный пол
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть
						tr
							td Полимерный пол
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть
						tr
							td Спортивное резиновое покрытие
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть