extends layout

block title
	title ui

block content

	div.ui

		div.ui__section

			div.ui__fonts
				div.ui__fonts-line
					h1 H1 Akrobat  Extrabold 36/36

				div.ui__fonts-line
					h2 H2 Akrobat Extrabold 30/36

				div.ui__fonts-line
					h3 H3 Akrobat Extrabold 30/30

				div.ui__fonts-line
					h4 H4 Akrobat Extrabold 20/24

				div.ui__fonts-line
					div.ui__colontitul-1 Colontitul 1 Akrobat  Extrabold 28/30 caps

				div.ui__fonts-line
					div.ui-colontitul-2 Colontitul 2 Roboto condensed  light 16/20 caps

				div.ui__fonts-line
					p.ui__text-big Text 1 Roboto Condensed Reg 24/30

				div.ui__fonts-line
					p Text 2 Roboto Condensed Light 18/30

				div.ui__fonts-line
					p.ui__text-light Text 2 Roboto Condensed Light 18/30


