@media screen and (max-width: 1599px) {
	.footer {
		margin-top: 120px;
		&:after {
			top: -60%;
		}
	}
}

@media screen and (max-width: 1279px) {
	.footer__logo {
		margin-right: 60px;
	}

	.footer__txt {
		font-size: 14px;
		line-height: 20px;
	}

	.footer__col {
		width: 40%;
	}

	.footer__inner {
		padding: 20px 0;
	}

	.footer {
		margin-top: 50px;

		&:after {
			top: -33%;
			background-image: url(../images/static/footer--mob.png);
			background-position: center;
		}
	}
}

@media screen and (max-width: 767px) {

	.footer {
		&:after {
			top: -23%;
			background-size: 120% 100%;
		}
	}

	.footer__logo-max-image {
		display: none;
	}

	.footer__logo-min-image {
		display: inline-block;
	}


	.footer__col {
		width: 45%;
	}

	.footer__row:nth-child(1) {
		display: block;

		.footer__col {
			width: 80%;

			&:nth-last-child(n + 2) {
				margin-bottom: 25px;
			}
		}
	}


}