@media screen and (max-width: 1599px) {

	.header__inner {
		padding: 13px 50px;
	}

	.header__logo {
		width: 235px;
	}

	.header__nav-section {
		margin-right: 40px;
	}

	.header__nav-item {
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1279px) {

	.header {
		// position: fixed;

		@media screen and (min-width: 768px) {

			&--scrolled {
				bottom: calc(100% - -100px);

				.header__nav-section {

					&--tablet {
						padding-left: 0;
					}
				}
			}

			&--visible {
				transform: translateY(193px);
			}
		}

		&.is-opened {

			.header__nav-section {

				&--tablet {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
	}

	.header__logo-max-image {
		max-width: 80px;
	}

	.header__logo-max-text {
		font-size: 16px;
		line-height: 24px;
	}

	.header__inner {
		padding: 13px 35px;
	}

	.header__nav-section {
		position: relative;
		z-index: 2;
		margin-right: 0;

		@media screen and (min-width: 768px) {
			&--tablet {
				z-index: 1;
				padding-left: 180px;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				background: #fff;
				padding-top: 95px;
				justify-content: center;
				opacity: 0;
				visibility: hidden;
				transform: translateY(-30px);
				transition: opacity .3s, visibility .3s, transform .3s;

				.header__nav-item {
					padding: 25px 25px 45px 25px;
					margin-right: 0;
				}

				.header__drop {
					left: 0;
					top: 22px;
					width: 170px;
					padding-right: 10px;

					&.is-opened {
						transform: translateY(0px);
					}
				}
			}
		}
	}

	.header__burger {
		position: relative;
		z-index: 3;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #2BA3CB;
		cursor: pointer;
		-ms-align-self: center;
		align-self: center;
		margin-left: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		transition: background-color .3s;
		flex-shrink: 0;

		&:after {
			content: '';
			position: absolute;
			left: -10px;
			top: -10px;
			right: -10px;
			bottom: -10px;
		}

		&.is-active {
			background-color: #442A1C;

			.header__burger-bar {

				&:nth-child(1) {
					transform: rotate(45deg) translateY(3px) translateX(4px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translateY(-3px) translateX(4px);
				}
			}
		}
	}

	.header__burger-bar {
		width: 13px;
		margin-bottom: 4px;
		height: 1px;
		background-color: #fff;
		transition: transform .3s, opacity .3s;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__logo {
		width: 200px;
		z-index: 2;
	}

	.header__phone {
		position: relative;
		z-index: 1;
		padding-right: 50px;
	}

	.header__phone-button {
		margin-left: 6px;
	}

	@media screen and (min-width: 768px) {

		.header__nav {
			-ms-align-items: center;
			align-items: center;
		}

		.header__phone {
			-ms-align-self: center;
			align-self: center;
		}
	}
}

@media screen and (max-width: 767px) {

	.header {
		position: fixed;
		background-color: #fff;

		&.is-opened {

			.header__nav {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.header__logo {
		width: 140px;
	}

	.header__logo-max {
		display: none;
	}

	.header__logo-min {
		display: block;
		width: 100%;
	}

	.header__inner {
		padding: 10px;
	}

	.header__nav {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		padding: 90px 20px 80px 60px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, visibility .3s;
	}

	.header__phone-number {
		display: none;
	}

	.header__phone {
		padding: 0;
		-ms-align-self: center;
		align-self: center;
		margin-left: 10px;
	}

	.header__phone-button {
		position: relative;
		top: 0;
		width: 35px;
		height: 35px;
		transform: translate(0);
		margin-left: 0;
	}

	.header__burger {
		margin-right: 10px;
		margin-left: auto;
	}

	.header__nav-item {
		margin-bottom: 25px;

		&:hover {

			.header__drop {
				transform: translateY(0);
				max-height: 400px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__nav-section {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__drop {
		position: relative;
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 20px;
			bottom: 0;
			width: 1px;
			background-color: #C9DCE2;
		}
	}

	.header__dorp-link {
		margin-top: 20px;
	}
}