@media screen and (max-width: 1599px) {
	.b-banner {
		padding-bottom: 0;
		margin-bottom: 60px;
	}

	.b-banner__title {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	.b-banner__desc {
		font-size: 18px;
		line-height: 26px;
	}

	.b-banner__txt-box {
		padding: 70px 35px 50px 60px;
	}
}

@media screen and (max-width: 1279px) {
	.b-banner__pic {
		height: 310px;
	}

	.b-banner__txt-box {
		max-width: 438px;
		padding: 35px 35px 35px 55px;
	}

	.b-banner__date {
		margin-bottom: 10px;
	}

	.b-banner__title {
		font-size: 24px;
		line-height: 24px;
	}

	.b-banner__desc {
		font-size: 14px;
		line-height: 20px;
	}

	.b-banner__fingerprint {
		width: 100vw;
		height: 100vh;
		top: -20vh;
		right: -60vw;
	}
}



@media screen and (max-width: 767px) {
	.b-banner__pic {
		height: 234px;
	}

	.b-banner__fingerprint {
		width: 200vw;
		height: 100vh;
		top: -20vh;
		right: -100vw;
	}

	.b-banner {
		&:hover {
			.b-banner__btn {
				transform: translateX(5rem);
			}
	
			.b-banner__txt-box {
				box-shadow: none;
			}
	
			.b-banner__txt-box:after {
				transform: none;
				top: 60%;
				opacity: 0;
			}
		}
	}

	.b-banner__txt-box {
		max-width: 260px;
		padding: 35px 12px 30px 20px;
		margin-left: -1px;

	}
}