@media screen and (max-width: 1599px) {
	.bq__text {
		width: auto;
	}

	.bq__title {
		width: auto;
		margin-right: 7%;
	}

	.bq {
		padding: 100px 80px 100px 120px;
	}
}

@media screen and (max-width: 1279px) {
	.bq {
		padding: 65px 50px 70px 35px;
	}

	.bq__text {
		font-size: 14px;
		line-height: 20px;
	}

	.bq__title {
		font-size: 24px;
		line-height: 24px;
		margin-right: 10%;

		&:before {
			top: 10px;
		}
	}
}

@media screen and (max-width: 767px) {
	.bq {
		display: block;
		padding: 35px 20px;
	}

	.bq__title {
		margin-bottom: 30px;
	}
}