@media screen and (max-width: 1599px) {
	.c-article__content {
		padding: 60px;
	}

	.c-article__text {
		font-size: 18px;
		line-height: 26px;
	}
}

@media screen and (max-width: 1279px) {
	.c-article__date {
		font-size: 13px;
		line-height: 14px;
	}

	.c-article__title {
		font-size: 18px;
		line-height: 20px;
	}

	.c-article__text {
		font-size: 14px;
		line-height: 20px;
	}

	.c-article__content {
		padding: 35px;
	}

	.c-article .c-list__btn {
		display: none;
	}

	.c-article {
		&:hover {
			box-shadow: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.c-article {
		display: block;
	}

	.c-article__image {
		width: 100%;
	}

	.c-article__content {
		padding: 10px 0;
	}

	.c-article__date {
		margin-bottom: 5px;
	}

	.c-article__title {
		margin-bottom: 20px;
	}

	.c-article--good {
		.c-article__title {
			font-size: 24px;
			line-height: 24px;
		}

		.c-article__text {
			font-size: 16px;
			line-height: 24px;
		}
	}
}