@media screen and (max-width: 1599px) {
	.c-card {
		padding-bottom: 30px;
	}

	.c-card__title {
		font-size: 24px;
		line-height: 24px;
	}

	.c-card__content-top {
		margin-bottom: 20px;
		justify-content: space-between;
	}

	.c-card__text {
		max-width: 320px;
	}

	.c-list__btn {
		bottom: 50px;
	}

	.c-card__image {
		width: 180px;

	}

	.c-card__content {
		width: 100%;
	}

	.c-card--min {
		padding: 55px 20px 20px 10px;
	}

	.c-card--min .c-card__image {
		width: 150px;
	}

	.c-card--min .c-list__btn {
		bottom: 20px;
		right: 20px;
	}

	.c-card--min .c-card__text {
		max-width: 350px;
	}
}

@media screen and (max-width: 1279px) {
	.c-card__image {
		width: auto;
		padding-right: 10px;
	}

	.c-card {
		padding: 10px;

		&:after {
			display: none;
		}

		&:hover {
			box-shadow: none;

		}
	}

	.c-card__text {
		font-size: 14px;
		line-height: 20px;
	}

	.c-card__title {
		font-size: 18px;
		line-height: 20px;
	}

	.c-card__prices {
		display: flex;
		margin-top: 20px;
		align-items: flex-end;
	}

	.c-card__prices-full {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.c-card .c-list__btn {
		transform: translateX(0);
		bottom: 20px;
		right: 5px;
	}

	.c-card__prices-full {
		font-size: 20px;
		line-height: 20px;
	}

	.c-card__prices-detail {
		margin-bottom: -3px;
	}

	.c-card__image {
		margin-top: -25px;
	}

	.c-card--min {
		width: 90%;
	}

	.c-card--min .c-card__image {
		width: 200px;
	}

	.c-card--min .c-list__btn {
		bottom: 40px;
		right: 20px;
	}
}

@media screen and (max-width: 767px) {
	.c-card__image {
		margin-top: 0;
		width: 100%;
		padding-right: 0;
		justify-content: space-between;
	}

	.c-card__image-file {
		width: 90px;
	}

	.c-card__row {
		display: block;
	}

	.c-card {
		background: none;
	}

	.c-card__title {
		padding-right: 0;
		max-width: 60%;
	}

	.c-card .c-list__btn {
		bottom: 5px;
		right: 10px;
	}
}