@media screen and (max-width: 1599px) {
	.c-list__title {
		font-size: 24px;
		line-height: 24px;
	}

	.c-list__date {
		margin-bottom: 20px;
	}

	.c-list__desc {
		font-size: 18px;
		line-height: 26px;
	}

	.c-list__wrap-title {
		padding: 10px 10px 15px 35px;
	}

	.c-list__box {
		height: 400px;
	}
}

@media screen and (max-width: 1279px) {
	.c-list__box {
		width: 45%;
	}

	.c-list__b-txt {
		padding: 25px 35px 55px 32px;
	}

	.c-list__title {
		font-size: 20px;
		line-height: 20px;
	}

	.c-list__date {
		margin-bottom: 10px;
	}

	.c-list__wrap-title {
		margin-bottom: 25px;
	}

	.c-list__desc {
		font-size: 14px;
		line-height: 20px;
	}

	.c-list__box {
		height: 322px;
	}

	.c-list__box--pic .c-list__b-txt {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
	}

	.c-list__box--banner {
		width: 94%;
	}

	.c-list__box--banner .c-list__wrap-title {
		padding: 0;
	}

	.c-list__box--banner .c-list__b-txt {
		padding: 25px 35px 35px 55px;
	}
}

@media screen and (max-width: 767px) {
	.c-list__row {
		width: 100%;
	}

	.c-list__box {
		width: 100%;
		margin-right: 0;
		height: auto;
	}

	.c-list__box--banner {
		height: 300px;
	}

	.c-list {
		padding: 30px;
		margin: -30px;
	}

	.c-list__box--pic .c-list__b-txt {
		padding: 25px 25px 25px 30px;
	}
	.c-list__box--pic .c-list__wrap-title{
		margin-bottom: 0;
	}

	.c-list__box--banner .c-list__b-txt {
		padding: 0 20px 25px 20px;
	}
}