@media screen and (max-width: 1599px) {
	.c-middle {
		padding: 0 50px;

		table {
			width: calc(100% + 500px);
			margin: 50px -250px;
		}
	}

	.c-middle__video {
		height: 600px;
	}

	.c-middle__pic--big {
		width: calc(100% + 500px);
		margin: 50px -250px 50px -250px;
	}

	.c-middle__pic--right {
		margin-right: -250px;
	}

	.c-middle__content {
		margin: 40px 0;
	}

	.c-middle__p-desc {
		font-size: 16px;
		line-height: 18px;
		padding-top: 20px;
	}

	.c-middle__desc {
		font-size: 20px;
		line-height: 28px;
		margin: 40px 0;
	}

	.c-middle__t-row {
		margin: 70px auto;
	}

	.c-middle__content {
		padding: 0 190px;

		hr {
			width: calc(100% + 180px);
			margin: 50px -90px;
		}
	}

	.c-middle__block {
		width: calc(100% + 180px);
		margin: 50px -90px;
	}

	.c-middle__row {
		width: calc(100% + 180px);
		margin: 50px -90px;
	}

	.c-middle__col:nth-child(2) p {
		padding-left: 90px;
	}
}

@media screen and (max-width: 1279px) {
	.c-middle {
		padding: 0;
	}

	.c-middle__photo {
		// height: 294px;
	}


	.c-middle__pic {
		width: 100%;

		&--big {
			width: calc(100% + 180px);
			margin: 50px -90px;
		}

		&--left {
			margin-left: -85px;
		}

		&--right {
			margin-right: 0;
			margin-left: 85px;
		}
	}

	.c-middle__p-desc {
		font-size: 13px;
		font-size: 14px;
	}

	.c-middle__desc {
		font-size: 18px;
		line-height: 26px;
		padding: 10px 0 10px 40px;
	}

	.c-middle__content {
		font-size: 14px;
		line-height: 20px;
		padding: 0 85px;

		table {
			width: 100%;
			margin: 0;

			thead {
				th {
					&:first-child {
						min-width: 260px;
					}

					&:nth-child(n + 2) {
						min-width: 160px;
					}
				}
			}

			tbody {
				td {
					&:first-child {
						min-width: 260px;
					}

					&:nth-child(n + 2) {
						min-width: 160px;
					}
				}
			}
		}

		ol {
			margin: 30px 0 40px 0;
		}

		p {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 40px;
		}

		h2 {
			margin-bottom: 30px;
		}

		ul {
			margin: 30px 0;

			li {
				&:nth-last-child(n + 2) {
					margin-bottom: 30px;
				}
			}
		}

		ol {
			li {
				&:nth-last-child(n + 2) {
					margin-bottom: 30px;
				}
			}
		}
	}

	.c-middle__wrap-table {
		// left: 0;
		// right: 0;
		// overflow-x: scroll;
		// padding: 0;
		margin: 0 0 80px -85px;
		width: calc(100% + 180px);

	}

	.c-middle__files {
		margin-bottom: 40px;
	}

	.c-middle__col:nth-child(2) p {
		padding-left: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.c-middle__block:nth-child(n) {
		margin: 20px -90px 40px -90px;
		min-height: 200px;
		padding: 60px 80px;
	}

	.c-middle__block--linked {
		.color-block__inner {
			padding-right: 70px;
		}
	}

	.c-middle__t-row {
		margin: 50px 0;
	}

	.c-middle__t-title {
		font-size: 18px;
		line-height: 20px;
	}

	.c-middle__t-desc {
		font-size: 14px;
		line-height: 20px;
	}

	.c-middle__video {
		height: 380px;
	}
}

@media screen and (max-width: 767px) {
	.c-middle__t-row {
		display: block;
	}

	.c-middle__t-col {
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		padding: 0;
		margin-bottom: 30px;
	}

	.c-middle__t-col--colored {
		padding: 45px 20px;
		font-size: 16px;
		line-height: 24px;

		&:after {
			opacity: 1;
		}
	}

	.c-middle__pic--big {
		width: 100%;
		margin: 50px 0;
	}

	.c-middle__pic--left,
	.c-middle__pic--right {
		margin: 0 0 15px 0;
		display: block;
	}

	.c-middle__content {
		margin: 30px 0;
	}

	.c-middle__photo {
		// height: 160px;
	}

	.c-middle__desc {
		font-size: 16px;
		line-height: 24px;
		margin: 35px 0 35px 25px;
		padding: 10px 0 10px 25px;
	}

	.c-middle__t-title:after {
		left: -2.6em;
	}

	.c-middle__txt-box {
		&:nth-last-child(n + 2) {
			margin-bottom: 35px;
		}
	}

	.c-middle__t-title {
		margin-bottom: 10px;
	}

	.c-middle__video {
		height: 170px;
	}

	.c-middle__video:after {
		width: 30px;
		height: 30px;
	}

	.c-middle__content {
		padding: 0;

		h2 {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 20px;
		}

		hr {
			width: 100%;
			margin: 30px 0;
		}

		ol {
			li {
				padding-left: 55px;
			}
		}

		table {


			thead {
				th {
					font-size: 14px;
					line-height: 20px;
				}
			}

			tbody {
				td {
					&:first-child {
						font-size: 18px;
						line-height: 20px;
					}

					&:nth-child(n + 2) {
						font-size: 16px;
						line-height: 24px;
					}
				}
			}

			td,
			th {
				padding: 10px 30px;
			}
		}
	}

	.c-middle__link {
		margin-top: 20px;
	}

	.c-middle__block:nth-child(n) {
		width: 100%;
		margin: 20px 0;
		padding: 40px 20px;
	}

	.c-middle__row {
		width: 100%;
		margin: 30px 0;
	}

	.c-middle__col:nth-child(2) p {
		padding-left: 0;
	}

	.c-middle__video--middle {
		width: 100%;
		margin: 20px 0;
	}

	.c-middle__wrap-table {
		margin: 0 0 80px 0;
		width: calc(100%);
	}
}