@media screen and (max-width: 1599px) {
	.c-top__desc {
		font-size: 20px;
		line-height: 28px;
		padding: 20px 0 20px 50px;
		margin: 40px 0;
	}

	.c-top__aside {
		display: none;
	}

	.c-top__inner {
		padding: 0 50px 0 220px;
	}

	.c-top__txt {
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 1279px) {
	.c-top__inner {
		padding: 0 50px 0 200px;
	}

	.c-top__date {
		font-size: 14px;
	}

	.c-top__bg {
		&:after {
			left: -90%;
		}

		&:before {
			right: -90%;
		}
	}

	.c-top__c-col {
		&:last-child {
			width: 20%;
		}
	}

	.c-top__link {
		font-size: 16px;
	}

	.c-top__txt {
		margin-top: 30px;
		font-size: 18px;
		line-height: 26px;
	}

	.c-top__aside {
		padding-right: 0;
		width: 30%;
	}

	.c-top__cont {
		padding: 20px 0 0 35px;
	}

	.c-top__desc {
		font-size: 18px;
		line-height: 26px;
		padding: 0 0 0 40px;
		margin: 35px 0 0 0;
	}
}

@media screen and (max-width: 767px) {
	.c-top__inner {
		padding: 0 10px;
	}

	.c-top__wrap-date {
		display: flex;
		justify-content: space-between;
	}

	.c-top__desc {
		padding: 0 0 0 20px;
		font-size: 16px;
		line-height: 24px;
	}

	.c-top__c-col:last-child {
		width: 0;
	}

	.c-top__cont {
		padding: 20px 0 0 0;
	}

	.c-top__aside {
		display: none;
	}

	.c-top__txt {
		font-size: 16px;
		line-height: 24px;
		margin: 45px 0;
	}

	.c-top__bg {
		&:before {
			display: none;
		}

		&:after {
			left: 40%;
			width: 680px;
			height: 620px;
		}
	}
}