@media screen and (max-width: 1599px) {
	.color-block {
		font-size: 20px;
		line-height: 28px;
		padding: 55px 90px;
	}
}

@media screen and (max-width: 1279px) {
	.color-block {
		padding: 55px 90px;
		font-size: 18px;
		line-height: 26px;

		&:after {
			transform: translate(0, 0) rotate(0deg);
			top: 10px;
			opacity: .5;
		}

		&--aque:after {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 767px) {
	.color-block {
		padding: 40px 20px;
	}

	.color-block__out {
		position: relative;
		top: auto;
		transform: none;
		margin-top: 30px;
	}

	.c-middle__block--linked .color-block__inner {
		padding-right: 0;
	}
}