@media screen and (max-width: 1599px) {
	.components__inner {
		padding-left: 150px;
		padding-right: 0;
	}

	.component__step {
		width: 250px;
	}

	.component__c-card {
		width: 100%;
	}
}

@media screen and (max-width: 1279px) {
	.components__inner {
		padding-left: 80px;
		padding-top: 0;
	}

	.component__step {
		padding-top: 0;
		width: 150px;
	}

	.component__step-num {
		font-size: 96px;
		line-height: 36px;
		padding-top: 15px;
		margin-right: 25px;
	}

	.component__step-type {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.component__step-title {
		font-size: 18px;
		line-height: 20px;
	}

	.component__step {
		padding-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	.components__s-name {
		display: none;
	}

	.components {
		margin-bottom: 20px;
	}

	.components__inner {
		padding-left: 0;
	}

	.component__step {
		margin-bottom: 0;
		padding-top: 0;
		padding-left: 10px;
		display: flex;
		align-items: center;
	}

	.component__step-num {
		font-size: 76px;
		line-height: 57px;
		padding-top: 0;
	}

	.component__step-type {
		margin-bottom: 5px;
	}

	.component__step-title {
		font-size: 16px;
		line-height: 16px;
	}

	.component__step-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.component {
		display: block;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&:nth-last-child(n + 2) {
			&:after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(201, 220, 226, 0.5);
			}
		}
	}


}