@media screen and (max-width: 1599px) {
	.contacts__content {
		margin-left: 240px;
		margin-top: 0;
	}

	.contacts__bg {
		right: -30vw;
		top: -10vh;
	}

	.contacts__link,
	.contacts__data-text,
	.contacts__data-title {
		font-size: 18px;
		line-height: 20px;
	}

	.contacts__map {
		margin-bottom: 80px;
	}
}


@media screen and (max-width: 1279px) {
	.contacts__content {
		margin-left: 198px;
		padding-bottom: 30px;
	}

	.contacts__bg {
		width: 697px;
		height: 572px;
		right: -50vw;
		top: 0;
	}

	.contacts__link {
		margin-right: 40px;
	}

	.contacts__data {
		margin-left: -200px;
		margin-top: 60px;
		max-width: 340px;
	}

	.contacts__data-text {
		font-size: 14px;
		line-height: 20px;
	}
}



@media screen and (max-width: 767px) {
	.contacts__bg {
		right: -190vw;
		top: -20vh;
		transform: rotate(-30deg);
	}

	.contacts__content {
		margin-top: 20px;
	}

	.contacts__links {
		display: block;
		margin-bottom: 0;
	}

	.contacts__link {
		display: block;
		margin-right: 0;

		&:nth-last-child(n + 2) {
			margin-bottom: 20px;
		}
	}

	.contacts__content {
		margin-left: 0;
	}

	.contacts__data {
		margin-left: 0;
		margin-top: 35px;
	}

	.contacts__data-title {
		margin-bottom: 15px;
	}

	.contacts__data-text {
		margin-bottom: 30px;
	}
}