@media screen and (max-width: 1599px) {
	.d-cards {
		padding-right: 0;
	}

	.d-card__price-full {
		font-size: 20px;
		line-height: 28px;
	}

	.d-card__price-detail {
		font-size: 16px;
	}
}

@media screen and (max-width: 1279px) {
	.d-card:nth-child(n) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
	}

	.d-card__content {
		padding: 0 40px;
	}

	.d-card__title {
		font-size: 20px;
		line-height: 20px;
	}

	.d-card__price-full {
		font-size: 18px;
		line-height: 26px;
	}
}

@media screen and (max-width: 767px) {
	.d-card__content {
		margin-left: 20px;
		padding: 0 0 0 20px;
	}

	.d-card:nth-child(n) {
		margin-bottom: 30px;
	}
}