@media screen and (max-width: 1599px) {
	.d-drop {
		padding: 30px 20px;
		width: calc(100% - 55px);
	}

	.d-drop__option-name {
		width: 145px;
	}

	.d-drop__feature {
		font-size: 16px;
		line-height: 18px;
		margin-right: 0;
	}

	.d-drop__feature--size {
		flex-shrink: 0;
		margin-right: 60px;
	}

	.d-drop__features {
		align-items: center;
	}

	.d-drop__option-title {
		font-size: 18px;
		line-height: 20px;
	}

	.d-drop__option-text,
	.d-drop__option-name {
		font-size: 16px;
		line-height: 18px;
	}
}

@media screen and (max-width: 1279px) {

	.d-drop {
		&--active {
			opacity: 1;
			visibility: visible;
		}
	}

	.d-drop__title {
		font-size: 20px;
		line-height: 20px;
	}

	.d-drop__option-name,
	.d-drop__option-text,
	.d-drop__feature--protect {
		font-size: 13px;
		line-height: 14px;
	}

	.d-drop__option-name {
		padding: 5px 0 0 5px;
	}

	.d-drop__button {
		margin: 15px 0;
		align-self: center;
	}

	.d-drop__content {
		display: flex;
		flex-direction: column;
	}

	.d-drop__close {
		right: 13px;
		top: 13px;
		width: 25px;
		height: 25px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/popup-closer.svg);
		cursor: pointer;
		display: block;
		z-index: 2;
		position: absolute;
		pointer-events: all;
	}
}

@media screen and (max-width: 767px) {
	.d-drop {
		width: 100%;
	}

	.d-drop__title {
		font-size: 20px;
		line-height: 20px;
		max-width: 80%;
		margin-bottom: 10px;
	}
	.d-drop__feature--size {
		margin-right: 40px;
	}

	.d-card__price-full,
	.d-card__price-detail {
		font-size: 16px;
		line-height: 16px;
	}
	.d-card__price-detail {
		line-height: 11px;
	}

	.d-drop__option-name {
		width: 100px;
		padding-right: 15px;
		// padding-left: 0;
	}

	.d-drop__top {
		padding-left: 0;
	}

	.d-drop__options {
		padding-left: 0;
	}

}