@media screen and (max-width: 1599px) {
	.d-sidebar {
		padding: 50px 28px 40px 35px;
	}
}

@media screen and (max-width: 1279px) {
	.d-sidebar__title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 25px;
	}

	.d-sidebar__item-label {
		font-size: 14px;
		line-height: 20px;
		padding-left: 30px;
	}
}

@media screen and (max-width: 767px) {

	.d-sidebar__d-title {
		display: block;
	}

	.d-sidebar {
		padding: 25px 10px 20px 10px;
		width: calc(100% + 20px);
		margin: 0 -10px;
	}

	.d-sidebar__title {
		margin-bottom: 15px;
	}

	.d-sidebar__section {
		border: none;
		padding-bottom: 0;
	}

	.d-sidebar__item-label {
		font-size: 18px;
		line-height: 30px;
	}

	.d-sidebar__item-label:before {
		top: 50%;
		transform: translateY(-50%);
	}

	.d-sidebar__items {
		border: 1px solid #C9DCE2;
		border-radius: 0 0 5px 5px;
		padding: 25px 20px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background: #F6F9FA;
		width: 100%;
		// hide 
		opacity: 0;
		visibility: hidden;

		&--show {
			opacity: 1;
			visibility: visible;
		}
	}

	.d-sidebar__d-wrap {
		position: relative;
	}

	.d-sidebar__d-title {
		border: 1px solid #C9DCE2;
		border-radius: 5px;
		position: relative;
		padding: 13px 35px 13px 16px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		color: #A8A8A8;
		white-space: nowrap;
		overflow: hidden;
		transition: color .3s ease-in-out;

		&:before {
			content: '...';
			display: flex;
			align-items: center;
			padding-left: 2px;
			position: absolute;
			height: 100%;
			width: 60px;
			top: 0;
			right: 0;
			background-color: #F6F9FA;
			opacity: 0;
		}
	
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 17px;
			background-image: url(../images/static/arrow-drop.svg);
			background-size: 10px 10px;
			background-position: center;
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			filter: brightness(0) grayscale(100%);
			transition: .3s;
		}

		&--tomuch {
			&:before {
				opacity: 1;
			}
		}

		&--show {
			border-radius: 5px 5px 0 0;

			&:after {
				transform: translateY(-50%) rotate(-180deg);
				filter: none;
			}
		}
	}
}