@media screen and (max-width: 1599px) {
	.decisions__sidebar {
		width: 300px;
	}

	.decisions__top {
		margin-left: 25%;
		font-size: 20px;
	}
}

@media screen and (max-width: 1279px) {
	.decisions__top {
		margin-left: 15%;
		padding-right: 90px;
		margin-bottom: 60px;
	}

	.decisions__top-text {
		font-size: 18px;
		line-height: 26px;
	}

	.decisions__s-name .s-name {
		padding-left: 15px;
		padding-bottom: 80px;
	}

	.decisions__sidebar {
		width: 260px;
	}
}

@media screen and (max-width: 767px) {
	.decisions__s-name {
		display: none;
	}

	.decisions__top {
		margin-left: 0;
		padding-right: 0;
	}

	.decisions__top-text p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}

	.decisions__row {
		display: block;
	}

	.decisions__sidebar {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}