@media screen and (max-width: 1599px) { 
	.examples {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 1279px) {
	.examples {
		margin-top: 45px;
		padding-left: 50px;
	}

	.examples__arrow {
		width: 25px;
	}
}

@media screen and (max-width: 767px) {

	.examples {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.examples__arrows {
		position: relative;
		left: auto;
		top: auto;
		display: flex;
		width: 100%;
		justify-content: space-between;
		order: 3;
		margin-top: 30px;
	}

	.examples__s-name { 
		position: relative;
		left: auto;

		.s-name  {
			position: relative;
		}

		.s-name__text {
			transform: none;
			writing-mode: inherit;
		}

		.s-name__title {
			font-size: 18px;
			line-height: 20px;
			text-transform: none;
		}

	}
}