@media screen and (max-width: 1599px) {
	.faq {
		padding: 80px 50px;
	}
}

@media screen and (max-width: 1279px) {
	.faq {
		padding: 80px 0;
	}

	.faq__themes {
		width: 250px;
		padding-right: 20px;
	}

	.faq__theme {
		font-size: 18px;
		line-height: 26px;
	}

	.faq__ask-top {
		font-size: 18px;
		line-height: 26px;
	}

	.faq__ask-answer {
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 767px) {
	.faq {
		display: block;
		padding: 20px 0 50px 0;
	}

	.faq__ask-top {
		padding: 25px 50px 25px 20px;
	}

	.faq__drop {
		position: relative;
		margin-bottom: 30px;
	}

	.faq__w-title {
		border: 1px solid #C9DCE2;
		border-radius: 5px;
		position: relative;
		padding: 16px 35px 16px 16px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 17px;
			background-image: url(../images/static/arrow-drop.svg);
			background-position: center;
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			filter: brightness(0) grayscale(100%);
			transition: .3s;
		}

		&--show {
			border-radius: 5px 5px 0 0;

			&:after { 
				transform: translateY(-50%) rotate(-180deg) ;
				filter: none;
			}
		}
	}

	.faq__themes {
		width: 100%;
		margin-bottom: 30px;
		padding-right: 0;
		border: 1px solid #C9DCE2;
		border-radius: 0 0 5px 5px;
		margin-bottom: 0;
		// hide
		position: absolute;
		visibility: hidden;
		top: 55px;
		opacity: 0;
		background: #fff;
		z-index: 10;

		&--show {
			visibility: visible;
			opacity: 1;
			transition: opacity .3s ease-in-out;
		}
	}

	.faq__theme {
		margin-bottom: 0;
		padding: 15px 35px 15px 15px;
		max-width: none;
		font-family: 'RobotoCondensed';
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;

		&:before {
			display: none;
		}
	}

	.faq__asks {
		margin-top: 0;
	}
}