@media screen and (max-width: 1599px) {
	.g-info__video {
		margin: 0 100px;
	}
}

@media screen and (max-width: 1279px) {
	.g-info__content {
		padding: 0 40px;
	}

	.g-info__main-title {
		font-size: 24px;
		line-height: 24px;
	}

	.g-info__main {
		width: 40%;
	}

	.g-info__text p {
		font-size: 18px;
		line-height: 26px;
	}

	.g-info__sub-main {
		line-height: 24px;
		font-size: 18px;
		padding-right: 0;
	}

	.g-info__option-title {
		line-height: 24px;
		font-size: 18px;
	}

	.g-info__option-text {
		font-size: 14px;
		line-height: 20px;
	}

	.g-info__video {
		margin: 0 40px;
	}
}

@media screen and (max-width: 767px) {
	.g-info {
		padding-top: 120px;
	}

	.g-info__content {
		padding: 0 10px;
	}

	.g-info__content-row {
		display: block;
		padding-bottom: 50px;
	}

	.g-info__main {
		width: 100%;
		padding-right: 30%;
		margin-bottom: 30px;
	}

	.g-info__main-title {
		margin-bottom: 10px;
	}

	.g-info__main-text {
		font-size: 14px;
		line-height: 20px;
	}

	.g-info__sub {
		display: block;
		padding-top: 40px;
	}

	.g-info__sub-main {
		margin-bottom: 40px;
	}

	.g-info__sub-col {
		&:nth-last-child(n + 2) {
			margin-bottom: 35px;
		}
	}

	.g-info__option-title:after {
		left: -2.6em;
	}

	.g-info__video {
		margin: 0 10px;
	}

}