@media screen and (max-width: 1599px) {
	.g-props {
		margin: 0;
	}
}

@media screen and (max-width: 1279px) {
	.g-props__title {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 45px;
	}

	.g-props__content {
		padding: 60px 30px ;
	}

	.g-props__item-title {
		font-size: 24px;
		line-height: 24px;
	}

	.g-props__item-text {
		font-size: 16px;
		line-height: 24px;
	}
}

@media screen and (max-width: 767px) {
	.g-props {
		width: calc(100% + 20px);
		margin: 0 -10px;
	}

	.g-props__content {
		padding: 50px 10px;
	}

	.g-props__item {
		width: 50%;
		margin-bottom: 45px;
	}
}