@media screen and (max-width: 1599px) {
	.g-production__content {
		padding: 0 50px;
		width: 45%;
	}

	.g-production__media {
		margin-right: 0;
		height: 370px;
	}

	.g-production__serts-desc {
		font-size: 16px;
		line-height: 18px;
	}
}

@media screen and (max-width: 1279px) {
	.g-production__content {
		padding-left: 0;
	}

	.g-production__serts-desc {
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 20px;
	}

	.g-production__title {
		font-size: 24px;
		background-image: 24px;
		margin-bottom: 40px;
	}

	.g-production__text p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 30px;
	}

	.g-production__media {
		height: 265px;
	}
}

@media screen and (max-width: 767px) {
	.g-production__inner {
		display: block;
	}

	.g-production__content {
		width: 100%;
		padding: 0;
	}

	.g-production__text p {
		font-size: 16px;
		line-height: 24px;
	}

	.g-production__wrap-serts {
		margin-top: 40px;
	}

	.g-production__sert {
		min-height: 190px
	}
}