@media screen and (max-width: 1599px) {
	.g-steps {
		margin-top: -80px;
	}

	.g-steps__inner {
		padding: 170px 50px;
	}
}

@media screen and (max-width: 1279px) {
	.g-steps__inner {
		padding: 140px 0;
	}

	.g-steps__title {
		font-size: 18px;
		line-height: 26px;
	}

	.g-steps__item-title {
		font-size: 20px;
		line-height: 20px;
		padding-left: 35px;
	}

	.g-steps__item-title:before {
		font-size: 48px;
		line-height: 36px;
		top: 0;
	}

	.g-steps__item-text {
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 767px) {
	.g-steps__row {
		display: block;
	}
	
	.g-steps__item-title {
		max-width: 80%;
		margin-bottom: 25px;
	}

	.g-steps__title {
		margin-bottom: 30px;
	}

	.g-steps__item {
		width: 100%;

		&:nth-last-child(n + 2) {
			margin-bottom: 50px;
		}
	}
}