@media screen and (max-width: 1599px) {
	.good__image {
		height: 440px;
		margin-left: -50px;
		margin-top: -50px;
		width: 392px;
	}

	.good__bread {
		margin-bottom: 20px;
	}

	.good__detail-list {
		font-size: 18px;
		line-height: 28px;
	}

	.good__detail-text {
		width: 57%;
		padding-right: 20px;
		line-height: 26px;
	}
}

@media screen and (max-width: 1279px) {
	.good {
		margin-left: 0;
		padding-top: 110px;
	}

	.good__image {
		height: 312px;
		width: 279px;
		margin-left: -30px;
		margin-top: 100px;
	}

	.good__title {
		margin-bottom: 70px;
	}

	.good__bread,
	.good__title {
		margin-left: -50px;
	}

	.good__price {
		font-size: 24px;
		line-height: 24px;
	}

	.good__detail-text,
	.good__detail-list,
	.good__stats-item {
		font-size: 14px;
		line-height: 20px;
	}

	.good__detail-text {
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}

	.good__detail {
		margin: 25px 0;
	}

	.good__stats-item {
		margin-right: 60px;
	}

	.good__detail-list-item {
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.good__detail {
		display: block;
	}

	.good__order {
		margin-right: 30px;
	}

	.good__links {
		font-size: 13px;
		line-height: 14px;
	}

	.good__links-item {
		margin-right: 12px;
	}
}

@media screen and (max-width: 767px) {
	.good {
		display: block;
	}

	.good__image {
		margin: 0 auto;
	}

	.good__bread, .good__title {
		margin-left: 0;
	}

	.good__title {
		margin-bottom: 10px;
	}

	.good__pricing {
		display: flex;
		justify-content: space-between;
	}

	.good__stats-item {
		margin-right: 30px;
	}

	.good__buttons {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.good__order {
		margin-right: 0;
		align-self: center;
		margin-bottom: 40px;
	}

	.good__links {
		width: 100%;
		justify-content: space-between;
		padding: 0 10px;
	}
}