@media screen and (max-width: 1365px) {
	.i-about__image {
		margin-left: 0;
		width: 450px;
	}

	.i-about__content {
		padding-right: 50px;
	}

	.i-about__content-inner {
		padding-right: 100px;
	}

	.i-about__s-name .s-name__title {
		margin-left: 10px;
	}
}

@media screen and (max-width: 1279px) {
	.i-about__image {
		width: 250px;
	}

	.i-about__content-inner {
		padding-right: 35px;
		padding-top: 35px;
	}

	.i-about__text {
		font-size: 14px;
		line-height: 20px;
	}

	.i-about__content {
		padding-right: 30px;
	}

	.i-about__clients {
		padding-top: 20px;
	}

	.i-about__clients-title {
		font-size: 16px;
	}

	.i-about__client {
		margin-right: 30px;
	}

	.i-about__s-name .s-name__title {
		margin-left: 0;
	}
}

@media screen and (max-width: 767px) {

	.i-about__image {
		width: auto;
	}

	.i-about__image-file {
		height: 230px;
	}

	.i-about__s-name .s-name {
		right: auto;
		left: 0;
		padding-left: 0;
		top: -200px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 300px;
			width: 1px;
			background-color: #C9DCE2;
			right: -10px;
			top: 0;
		}
	}

	.i-about__content-inner {
		padding: 0 0 0 20px;
		border-right: none;
	}

	.i-about__content {
		padding-right: 0;
		padding-left: 30px;
	}

	.i-about__clients {
		margin-left: -50px;
	}

	.i-about__clients-title {
		margin-bottom: 20px;
	}

	.i-about {
		padding: 0;
	}
}