@media screen and (max-width: 1599px) {
	.i-calc__container {
		padding: 0 50px;
	}
}

@media screen and (max-width: 1279px) {
	.i-calc-wrapper {
		margin: 0 40px;
		overflow: hidden;
	}

	.i-calc__container {
		padding: 0;
	}

	.i-calc__title {
		font-size: 24px;
		line-height: 24px;
	}

	.i-calc__i-servs {
		transform: translateY(0);
	}

	.i-calc__row {
		flex-wrap: wrap;
	}
	
	.i-calc__inner {
		margin: 70px auto 0 auto;
	}

	.i-calc__item {
		&:first-child {
			width: 100%;
			margin-bottom: 35px;
		}

		width: 40%;
	}

	.i-calc {
		margin-top: 0;
	}

	.i-calc__order {
		margin-top: 60px;
	}
}

@media screen and (max-width: 767px) {

	.i-calc-wrapper {
		margin: 0;
	}

	.i-calc__row {
		display: block;
	}

	.i-calc__item {
		width: 100%;
	}

	.i-calc__title {
		margin-bottom: 50px;
	}

	.i-calc__input-label {
		margin-left: 0;
	}

	.i-calc__input-field {
		margin: 10px -20px 50px -20px;
	}

	.i-calc__order {
		margin: 60px 0 0 -20px;
	}

	.i-calc__order .button {
		padding: 18px 30px;
	}
}