@media screen and (max-width: 1599px) {
	.i-map--index {
		margin: -100px 30px 0 30px;
	}
}

@media screen and (max-width: 1279px) {
	.i-map {
		width: calc(100% + 40px);
		margin: -100px -20px -50px -20px;
	}

	.i-map__s-name {
		top: 40%;
		transform: translateY(-50%);
	}

	.s-name--left.s-name--border {
		border-right: 1px solid rgba(#C9DCE2, 0.5);
	}

	.i-map__s-name .s-name {
		padding: 0 25px 50px 0;
	}

	.i-map__delivery-days {
		font-size: 96px;
	}

	.i-map__delivery-days::before {
		left: -20px;
		top: 45%;
	}

	.i-map__delivery-title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.i-map__delivery-region {
		font-size: 16px;
		line-height: 16px;
		max-width: 90px;
	}

	.i-map__delivery-item:nth-last-child(n + 2) {
		margin-right: 5%;
	}

	.i-map__delivery {
		left: 50px;
		right: -50px;
	}
}

@media screen and (max-width: 767px) {
	.i-map {
		width: 100%;
		margin: 100px 0 80px 0;
	}

	.i-map__delivery {
		position: relative;
		top: auto;
		transform: none;
		display: block;
		left: auto;
		right: auto;
	}

	.s-name--left.s-name--border {
		border: none;
	}

	.i-map__s-name {
		position: relative;
		top: auto;
		transform: none;

		.s-name__text {
			writing-mode: inherit;
			transform: none;
		}
	}

	.i-map__delivery-item {
		width: 100%;
		justify-content: flex-start;
		padding-left: 20px;
	}

	.i-map__delivery-item:nth-last-child(n + 2) {
		margin-right: 0;
		margin-bottom: 70px;
	}

	.i-map__s-name .s-name {
		position: relative;
	}

	.i-map__s-name .s-name__title {
		margin-bottom: 8px;
	}

	.i-map__image {
		width: 100%;
		height: 160px;
		position: absolute;
		left: 0;
		bottom: -50px;

		&--mob {
			bottom: auto;
			top: -50px;
			display: block;
		}
	}
}