@media screen and (max-width: 1599px) {
	.i-projects__inner {
		padding-right: 110px;
	}

	.i-projects__s-name {
		right: 0px;
		top: 300px;
	}
}

@media screen and (max-width: 1279px) {
	.i-projects__inner:before {
		left: -130px;
		top: 15vh;
		width: 50vw;
		height: 50vw;
	}

	.i-projects__inner {
		margin-left: 0;
		padding-right: 40px;
	}

	.i-projects__s-name {
		top: 200px;

		.s-name__text {
			margin-right: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	.i-projects__more {
		margin-right: 0;
		margin-top: 60px;
	}

	.i-projects {
		padding-bottom: 75px;
	}

	.i-projects__inner {
		padding: 30px 0 0 0;
	}

	.i-projects__s-name {
		position: static;
	}

	.i-projects__s-name {
		.s-name {
			position: static;
			padding-left: 0;
		}

		.s-name__text {
			writing-mode: inherit;
			transform: rotate(0);
			margin-right: 0;
			align-items: flex-start;
		}

		.s-name__title {
			margin-bottom: 5px;
		}
	}
}