@media screen and (max-width: 1279px) {
	.i-production__cards {
		padding: 0 0 0 75px;
		margin-right: -10px;
	}

	.i-production__cards-item {
		margin-right: 10px;
	}

	.i-production__fly {
		width: 80vw;
		left: 0;
		top: 0;
	}

	.i-production {
		padding: 30px 0 150px 0;
	}
}

@media screen and (max-width: 767px) {
	.i-production__cards {
		margin-right: 0;
		display: block;
		padding: 0;
	}

	.i-production__cards-item {
		margin-right: 0;
	}

	.i-production__s-name {
		position: static;
		margin-bottom: 40px;

		.s-name {
			position: static;
		}

		.s-name__title {
			margin-bottom: 5px;
		}

		.s-name__text {
			writing-mode: inherit;
			transform: rotate(0);
		}
	}
}