@media screen and (max-width: 1599px) {
	.i-servs {
		padding: 100px 50px;
	}

	.i-servs__item {
		&:last-child {
			padding-right: 0;
		}
	}

	.i-serts__s-slider {
		padding: 0 110px 0 50px;
	}
}

@media screen and (max-width: 1279px) {

	.i-servs__row {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: -40px;
	}

	.i-servs__item {
		width: 48%;
		margin-bottom: 40px;
		padding-right: 0;
	}

	.i-servs__title {
		font-size: 20px;
		line-height: 20px;
		height: 50px;
	}

	.i-servs__text {
		font-size: 14px;
		line-height: 20px;
	}

	.i-servs {
		padding: 75px;
	}

	.i-servs__more {
		margin-top: 35px;
	}
}

@media screen and (max-width: 767px) {
	.i-servs {
		padding: 50px 50px 70px 50px;
	}

	.i-servs__row {
		display: block;
		margin-bottom: 40px;
	}

	.i-servs__item {
		width: 100%;
	}

	.i-servs__title {
		height: auto;
		margin-bottom: 20px;
	}

	.i-servs__more {
		text-align: left;
	}
}