@media screen and (max-width: 1279px) {
	.i-serts__s-name {
		.s-name {
			padding-right: 2vw;
		}
	}
}

@media screen and (max-width: 767px) {
	.i-serts__s-name {
		position: static;

		.s-name {
			position: static;
			padding-left: 0;
			padding-right: 0;
		}

		.s-name__text {
			writing-mode: inherit;
			transform: rotate(0);
			margin-right: 0;
			align-items: flex-start;
		}

		.s-name__title {
			margin-bottom: 5px;
		}
	}
	
	.i-serts__s-slider {
		padding: 0;
	}

	.i-serts {
		padding-bottom: 50px;
	}
}