@media screen and (max-width: 1279px) {
	.not-found__t-wrap {
		width: 100%;
		flex-shrink: 0;
	}

	.not-found__desc {
		max-width: 230px;
		margin-bottom: 30px;
	}

	.not-found {
		display: block;
	}

	.not-found__n-wrap {
		height: 550px;
		width: 717px;
		margin-top: 120px;
		margin-right: 0;
		margin-left: -300px;
	}
}

@media screen and (max-width: 767px) {

	.not-found {
		padding-top: 0;
	}

	.not-found__desc {
		font-size: 16px;
		line-height: 24px;
	}

	.not-found__num {
		font-size: 200px;
		left: 30px;
	}

	.not-found__bg {
		height: 100%;
		width: 100%;
		top: 0;
		background-position: 40%;
		background-size: 170%;
	}

	.not-found__n-wrap {
		height: 376px;
		width: 468px;
		margin: 50px -10px 0 -10px;
		width: calc(100% + 20px);
	}

}