@media screen and (max-width: 1279px) {
	.offers {
		display: block;
		margin-bottom: 60px;
	}

	.offers__card {
		width: 100%;
		position: relative;
		overflow: visible;

		&:nth-last-child(n + 2) {
			margin-bottom: 20px;
			padding-bottom: 20px;

			&:after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(#C9DCE2, .5);
			}
		}
	}
}

@media screen and (max-width: 767px) { 
	.offers {
		margin-top: 20px;
	}
}