@media screen and (max-width: 1279px) {
	.p-card {
		padding: 50px 45px;
	}

	.p-card__features {
		margin: 30px 0;
	}

	.p-card__features-item {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 767px) {
	.p-card__link {
		padding-left: 25px;
	}

	.p-card {
		margin: 0 auto 35px auto;
	}
}