@media screen and (max-width: 1599px) {
	.p-slider__descr {
		font-size: 14px;
		line-height: 20px;
	}

	.p-slider--c-middle {
		width: calc(100% + 150px);
		margin: 55px -75px;
	}

	.p-slider__content {
		padding-top: 40px;
		padding-left: 90px;
	}

	.p-slider__bottom {
		padding-left: 150px;
	}

	.p-slider__controls {
		padding-top: 40px;
	}

	.p-slider__descr {
		margin-right: 500px;
	}

	.p-slider__content:before {
		height: 110px;
	}

	.p-slider--small .p-slider__content {
		padding-top: 40px;
	}

	.p-slider--small .p-slider__bottom {
		padding-left: 60px;
	}

}

@media screen and (max-width: 1279px) {
	.p-slider {
		margin-bottom: 55px;
	}

	.p-slider--big {
		.p-slider__text {
			display: flex;
		}

		.p-slider__text-note {
			margin-top: 0;
			margin-left: 50px;
		}
	}


	.p-slider--c-middle {
		width: 100%;
		margin: 30px 0;
	}

	.p-slider__bottom {
		padding-left: 75px;
	}

	.p-slider__content {
		padding-left: 35px;
	}

	.p-slider__descr {
		margin-right: 150px;
		z-index: 2;
		position: relative;
	}

	.p-slider__controls {
		width: 240px;
	}

	.p-slider__title {
		font-size: 25px;
		line-height: 24px;
	}

	.p-slider__text {
		font-size: 14px;
		line-height: 20px;
	}

	.p-slider--c-middle .p-slider__content {
		padding: 0;
	}

	.p-slider--c-middle .p-slider__controls {
		position: static;
	}

	.p-slider--c-middle .p-slider__bottom {
		display: flex;
		flex-direction: column-reverse;
		padding-left: 24px;
	}

	.p-slider--c-middle .p-slider__controls-inner {
		margin-left: 0;
	}

	.p-slider--c-middle .p-slider__descr {
		padding-left: 20px;
		margin-top: 40px;

		&:before {
			left: 0;
		}

	}

	.p-slider--small .p-slider__bottom {
		padding-left: 35px;
	}

	.p-slider--small .p-slider__content {
		padding-left: 35px;
		padding-top: 25px;
	}

	.p-slider--small .p-slider__title {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.p-slider__text-note {
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}

	.p-slider--small .p-slider__descr {
		margin-top: 20px;
	}

	.p-slider--small .p-slider__controls {
		padding: 15px 5px 10px 15px;
		top: -48px;
		width: 115px;
	}

	.p-slider--small .p-slider__arr {
		width: 10px;
		height: 21px;
	}

}

@media screen and (max-width: 767px) {
	.p-slider__descr {
		margin-right: 0;
	}

	.p-slider__bottom {
		padding-left: 0;
	}

	.p-slider__title {
		font-size: 20px;
		line-height: 20px;

		br {
			display: none;
		}
	}

	.p-slider {
		margin: 20px 0;
	}

	.p-slider--big .p-slider__text {
		display: block;
	}

	.p-slider--big .p-slider__text-note {
		margin-left: 0;
		margin-top: 5px;
	}

	.p-slider--c-middle .p-slider__controls {
		padding: 20px 0 0 0;
		display: flex;
	}

	.p-slider--c-middle .p-slider__bottom {
		padding-left: 0;
	}

	.p-slider--small {
		width: 100%;
	}

	.p-slider--small .p-slider__bottom {
		padding-left: 25px;
	}

	.p-slider--small .p-slider__content {
		padding-left: 25px;
		padding-top: 30px;
	}

	.p-slider__content:before {
		height: 100px;
	}

	.p-slider--small .p-slider__descr {
		width: calc(100% + 50px);
		margin-left: -50px;
		margin-top: 40px;
	}

	.p-slider__descr {
		width: calc(100% + 50px);
		margin-left: -50px;
		margin-top: 40px;
	}

	.p-slider__content {
		padding-left: 25px;
		padding-top: 30px;
	}

	.p-slider__bottom {
		padding-left: 25px;
	}

	.p-slider__controls {
		padding-top: 40px;
		padding: 15px 5px 10px 15px;
		top: -48px;
		width: 115px;
		height: auto;
		bottom: auto;
	}

	.p-slider__controls-inner {
		justify-content: space-between;
		margin-left: 0;
	}

	.p-slider__arr {
		width: 10px;
		height: 21px;
		filter: grayscale(1);
		opacity: .8;
		transition: filter .3s, opacity .3s;
	}

	.p-slider__arr--prev {
		margin-right: 20px;
	}

	.p-slider:nth-last-child(-n+2) {
		margin-top: 30px;
	}

	.p-slider__arr--next {
		margin-left: 20px;
	}

	.p-slider__image {
		min-height: 200px;
	}

}