@media screen and (max-width: 1279px) {
	.popup__field {
		width: 47%;
	}

	.popup {
		padding: 40px;
	}

	.popup__fields {
		justify-content: space-between;
	}

	.popup__form-submit {
		width: auto;
		margin-top: 0;
		flex-shrink: 0;
		display: block;
		margin-top: 40px;
	}

	.popup__container-inner {
		padding: 90px 75px 75px 75px;
	}

	.popup__form-submit--cnt {
		display: flex;
	}

	.popup__fields-policy {
		padding-left: 0;
		font-size: 14px;
		line-height: 20px;
		margin-right: -50px;
		margin-top: 50px;

		.link {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 767px) {
	.popup {
		padding: 35px 10px;
	}

	.popup__container-inner {
		padding: 75px 25px;
	}

	.popup__fields {
		display: block;
	}

	.popup__field {
		width: 100%;

		label {

			&.error {
				color: #F84847;
				background-color: transparent;
				transform: translateY(0);
				top: 100%;
				left: 0;
				margin-left: 0;
				width: 100%;
				padding-top: 4px;

				&:after {
					display: none;
				}

				&:before {
					left: auto;
					right: 12px;
					top: -27px;
				}
			}
		}
	}

	.popup__fields-policy {
		margin-right: 0;
	}

	.popup__closer {
		top: 15px;
		right: 15px;
	}

	.popup__title {
		min-height: auto;
	}

	.popup__field {
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.popup__fields-policy {
		margin-top: 0;
	}

	.popup__form-submit {
		display: flex;
	}

	.popup__fields--small .popup__field {
		width: 100%;
	}


}