@media screen and (max-width: 1599px) {
	.s-name__title {
		font-size: 24px;
		line-height: 26px;
	}

	.s-name--left {
		padding-right: 35px;
		padding-left: 1vw;
	}

}

@media screen and (max-width: 1279px) {
	.s-name__title {
		font-size: 16px;
		line-height: 16px;
	}

	.s-name--left {
		padding-right: 20px;
	}

	.s-name__cat {
		font-size: 12px;
		line-height: 12px;
		margin-left: 8px;
	}

	
}

@media screen and (max-width: 767px) {
	.s-name__cat {
		margin-left: 0;
		order: 2;
	}

	.s-name__text {
		display: flex;
		flex-direction: column;
	}
}