@media screen and (max-width: 767px) {
	.time__row {
		display: block;
	}

	.time__item {
		width: 100%;

		&:nth-last-child(n + 2) {
			margin-bottom: 25px;
		}
	}

	.time__title {
		margin-left: 0;
		margin-bottom: 30px;
	}
}