@media screen and (max-width: 1279px) {
	.types__item {
		width: 20%;
		margin-right: 2%;
		padding: 40px 20px 40px 40px;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			opacity: 1;
			transform: translateY(-50%) rotate(0deg);
		}
	}

	.types {
		margin-bottom: 70px;
		flex-wrap: nowrap;
	}

	.types__item-name {
		font-size: 20px;
		line-height: 20px;
	}

	.types__item-name:before {
		width: 28px;
		left: -40px;
		top: 10px;
	}
}

@media screen and (max-width: 767px) {
	.types__item {
		width: 100%;

		&:nth-last-child(n + 2) {
			margin-bottom: 20px;
		}
	}

	.types {
		display: block;
	}

}