@media screen and (max-width: 1599px) {

	.welcome__inner {
		padding: 0 50px;
	}

	.welcome__media-item {
		width: 100%;
	}

	.welcome__media {
		margin-right: -50px;
	}

}

@media screen and (max-width: 1365px) {

	.welcome__media {
		padding: 40px 20px;
	}

	.welcome__feature {
		padding: 30px 30px 30px 70px;
	}

	.welcome__image {
		bottom: -270px;
	}

	.welcome__inner {
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 1279px) {

	.welcome__inner {
		padding: 0 35px;
		height: 570px;
		min-height: 0;
	}

	.welcome__image {
		width: 560px;
		height: 870px;
		left: 55%;
	}

	.welcome__media {
		margin-right: -35px;
	}

	.welcome__media-item {

		&.is-active {
			height: 570px;
		}
	}

	.welcome__aside {
		width: 175px;
		padding-right: 30px;
	}

	.welcome__aside-title {
		font-size: 24px;
		line-height: 1;
	}

	.welcome__aside-link {
		margin-top: 100px;
	}

	.welcome__image {
		bottom: auto;
		top: 40%;
	}

	.welcome__feature {
		padding: 40px 10px 20px 10px;
	}

	.welcome__feature-title {
		font-size: 18px;
		line-height: 20px;

		&:before {
			left: 0;
			top: -20px;
		}
	}

	.welcome__feature-text {
		font-size: 16px;
		line-height: 1.4;
	}

	.welcome__aside-link {

		.link {
			font-size: 16px;
		}
	}

	.welcome__aside-text {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}

	.welcome__media-image {
		height: 100%;
		-webkit-background-size: auto;
		background-size: auto;
	}
}

@media screen and (max-width: 767px) {

	.welcome__media {
		// display: none;
	}

	.welcome__media-items {
		display: none;
	}

	.welcome__image {
		width: 140vw;
		max-width: none;
		right: auto;
		left: 90vw;
		top: 10vh;
		transform: rotate(-35deg);
	}

	.welcome__aside {
		width: 100%;
		padding-right: 0;
	}

	.welcome__inner {
		padding: 70px 10px 0 10px;
		min-height: auto;
		margin-bottom: 80px;
		height: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.welcome__aside-content {
		margin-top: 50px;
	}

	.welcome__aside-text {
		font-size: 16px;
		line-height: 24px;
		max-width: 180px;
		margin-top: 50px;
	}

	.welcome__aside-link {
		margin-top: 30px;
	}

	.welcome__aside-title {
		max-width: 250px;
	}

	.welcome__media {
		padding: 0;
		margin-right: 0;
	}

	.welcome__features {
		margin-top: 80px;
	}

	.welcome__feature {
		padding: 0;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.welcome__feature-text-wrapper {
		display: none;
	}

	.welcome__feature-title {
		padding-left: 55px;

		&:before {
			top: 10px;
		}
	}

}

